<ion-header class="bg-white">
    <ion-navbar>
      <ion-title class="text-center float-left">
          {{"Profile" | translate}}
      </ion-title>
      <ion-icon name="ios-log-out-outline" class="text-blue logout" (click)="logout()"></ion-icon>
    </ion-navbar>
</ion-header>

<ion-content bg-light>
    <div class="tabs height50">
        <ion-segment [(ngModel)]="rideprofile" >
            <ion-segment-button value="about" class="height33">
                {{"about you" | translate}}
            </ion-segment-button>
            <ion-segment-button value="reviews" class="height33">
                {{"account" | translate}}
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="rideprofile">
        <ion-list no-lines *ngSwitchCase="'about'">
            <ion-item style="position: relative;z-index: 2;">
                <ion-avatar item-start>
                    <img [src]="avatarUrl">
                </ion-avatar>
                <div class="name">
                    <div>{{userName}}</div>
                    <p>{{appConfig.experience}}</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="comment-box">
                    <ion-row>
                        <ion-col col-3>
                            <span class="away"></span>
                        </ion-col>
                        <ion-col col-9>
                            <p class="text-wrap">  
                                
                                    Edit your profile to add a mini bio.
                             
                                 <em class="anywhere">
                                    Tell other members about yourself and why
                                    they should want to travel with you
                                </em>
                            </p>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-item>
            <div padding text-center>
                <h3 class="text-blue">See public profile</h3>
            </div>
            <ion-list>
                    <button ion-item (click)="editprofile()" class="border-t-1">
                        <ion-avatar item-start class="position-relative">
                            <ion-icon name="ios-person-outline" class="center"></ion-icon>
                        </ion-avatar>
                        <div class="color-orange">{{"Verify your ID" | translate}}</div>
                        <ion-avatar item-start class="absolute-right">
                            <ion-icon name="ios-alert-outline" class="center color-orange"></ion-icon>
                        </ion-avatar>
                    </button>
                    <button ion-item (click)="editprofile()" class="border-t-1">
                        <ion-avatar item-start class="position-relative">
                            <ion-icon name="ios-call-outline" class="center"></ion-icon>
                        </ion-avatar>
                        {{appConfig.phone | translate}}
                        <ion-avatar item-start class="absolute-right">
                            <ion-icon name="ios-checkmark-circle-outline" class="center"></ion-icon>
                        </ion-avatar>
                    </button>
                    <button ion-item (click)="editprofile()" class="border-t-1">
                        <ion-avatar item-start class="position-relative">
                            <ion-icon name="ios-mail-outline" class="center"></ion-icon>
                        </ion-avatar>
                        {{appConfig.email | translate}}
                        <ion-avatar item-start class="absolute-right">
                            <ion-icon name="ios-checkmark-circle-outline" class="center"></ion-icon>
                        </ion-avatar>
                    </button>
                    <button ion-item (click)="editprofile()" class="border-tb-1">
                        <ion-avatar item-start class="position-relative">
                            <ion-icon name="logo-instagram" class="center"></ion-icon>
                        </ion-avatar>
                        {{"829 Instagram friends" | translate}}
                        <ion-avatar item-start class="absolute-right">
                            <ion-icon name="ios-checkmark-circle-outline" class="center"></ion-icon>
                        </ion-avatar>
                    </button>
                </ion-list>
                <ion-row padding>
                    <button ion-button full class="bg-blue text-white btn rounded" (click)="editprofile()">{{"edit profile" | translate}}</button>
                </ion-row>
                <!-- <h4 class="bg-blue text-white sub-title">PREFERENCES</h4>
                <ion-row>
                    <ion-col>
                        <span class="icon-lg icon-1"></span>
                    </ion-col>
                    <ion-col>
                        <span class="icon-lg icon-2"></span>
                    </ion-col>
                    <ion-col>
                        <span class="icon-lg icon-3"></span>
                    </ion-col>
                    <ion-col>
                        <span class="icon-lg icon-4"></span>
                    </ion-col>
                </ion-row>
                <ion-row padding>
                    <button ion-button full class="bg-blue text-white btn rounded" (click)="offerride()">{{"edit preferences" | translate}}</button>
                </ion-row> -->
                <h4 class="bg-blue text-white sub-title">car details</h4> 
                <ion-item>
                    <div class="comment-box">
                        <ion-row>
                            <ion-col col-3>
                                <span class="icon-lg icon-comment car-description-icon"></span>
                            </ion-col>
                            <ion-col col-9>
                                <p class="text-wrap">  
                                    <em class="text-bold"><b>Add a description about your car</b></em>
                                    {{appConfig.car_details}}
                                </p>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-item>
        </ion-list>
       
        <ion-list *ngSwitchCase="'reviews'">
            <h4 class="bg-blue text-white sub-title">ratings</h4>
            <ion-list no-lines>
                <button ion-item (click)="reviews()">
                    {{"Ratings left" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item (click)="reviews()" class="border-t-1">
                    {{"Ratings received" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
            </ion-list> 
            <h4 class="bg-blue text-white sub-title">preferences</h4>
            <ion-list no-lines>
                <button ion-item (click)="notifications()">
                    <ion-avatar item-start>
                        <ion-icon name="ios-notifications-outline"></ion-icon>
                    </ion-avatar>
                    {{"Notifications & Communications" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item (click)="password()"  class="border-t-1">
                    <ion-avatar item-start>
                        <ion-icon name="md-lock"></ion-icon>
                    </ion-avatar>
                    {{"Password" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item (click)="reviews()"  class="border-t-1 hidden">
                    <ion-avatar item-start>
                        <ion-icon name="ios-home-outline"></ion-icon>
                    </ion-avatar>
                    {{"Postal address" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
            </ion-list>
            <h4 class="bg-blue text-white sub-title">Money</h4> 
            <ion-list no-lines>
                <button ion-item (click)="reviews() " class="hidden">
                    <ion-avatar item-start>
                        <ion-icon name="ios-repeat-outline"></ion-icon>
                    </ion-avatar>
                    {{"Awating transfers" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item (click)="paymentsandrefunds()" class="border-t-1">
                    <ion-avatar item-start>
                        <ion-icon name="md-cash"></ion-icon>
                    </ion-avatar>
                    {{"Payments Methods" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item (click)="reviews()" class="border-t-1 hidden">
                    <ion-avatar item-start>
                        <ion-icon name="ios-swap-outline"></ion-icon>
                    </ion-avatar>
                    {{"Past transfers" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item (click)="reviews()" class="border-t-1 hidden">
                    <ion-avatar item-start>
                        <ion-icon name="md-arrow-dropright-circle"></ion-icon>
                    </ion-avatar>
                    {{"Transfer methods" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
            </ion-list>
            <h4 class="bg-blue text-white sub-title">about</h4> 
            <ion-list no-lines>
                <button ion-item (click)="reviews()" class="hidden">
                    <ion-avatar item-start>
                        <ion-icon name="md-thumbs-up"></ion-icon>
                    </ion-avatar>
                    {{"Rate on App Store" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item class="border-t-1">
                    <ion-avatar item-start>
                        <ion-icon name="ios-help-circle-outline"></ion-icon>
                    </ion-avatar>
                    {{"Help" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item class="border-t-1">
                    <ion-avatar item-start>
                        <ion-icon name="ios-document-outline"></ion-icon>
                    </ion-avatar>
                    {{"Terms & Conditions" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
                <button ion-item class="border-t-1">
                    <ion-avatar item-start>
                        <ion-icon name="md-information-circle"></ion-icon>
                    </ion-avatar>
                    {{"Privacy Policy" | translate}}
                    <ion-avatar item-start class="absolute-right">
                        <ion-icon name="ios-arrow-forward" class="center text-blue"></ion-icon>
                    </ion-avatar>
                </button>
            </ion-list>
        </ion-list>
    </div>
    <div class="space">&nbsp;</div>
</ion-content>
