<ion-tabs >
    <ion-tab [root]="tab1Root" tabTitle="{{'find_ride' | translate}}" tabIcon="md-search" tabsHideOnSubPages="true" ></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="{{'my_ride' | translate}}" tabIcon="md-car" tabsHideOnSubPages="true" ></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="{{'offer_ride' | translate}}" tabIcon="md-clipboard" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>