page-start {
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        ion-item {
            .name {
                width: calc(100% - 70px);
                display: inline-block;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    ion-icon {
                        margin-left: 5px;
                    }
                }
            }
            .more {
                width: 65px;
                display: inline-block;
                h2 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: $theme-color;
                    display: flex;
                    ion-icon {
                        margin-left: 5px;
                        font-size: 2rem;
                        margin-left: auto;
                        color: $text-dark;
                    }
                }
            }
            p {
                font-size: 1.1rem;
                color: $text-dark;
                font-weight: 400;
            }
        }
    }
    ion-card-content {
        padding-left: 60px !important;
        position: relative;
        .ride-detail {
            position: relative;
            margin-bottom: 1rem;
            p {
                font-size: 1.2rem;
                padding-left: 10px;
                position: relative;
                color: $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                .time {
                    width: 70px;
                    display: inline-block;
                    text-align: center;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 20px;
                background: $text-dark;
                position: absolute;
                left: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .detail-text {
            height: 4.5rem;
            font-size: 1rem;
            color: $text-light;
            text-transform: none;
            h2 {
                color: $theme-color;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 18px;
            }
        }
        .full.btn {
            float: right;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
            height: 35px;
            font-size: 1.2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    .col {
        padding-left: 0;
        padding-right: 0;
    }
    .buy-this-app-class {
		position: fixed;
		right: 0px;
		bottom: 60px;
		z-index: 99;
		background: transparent;
		width: 100%;
		text-align: end;
	  }
	  .button-size{
		height: 40px;
		margin-right: 25px !important;
		margin-left: 25px !important;
		background-color: #f8563a !important;
      }
      .d-flex{
          display:flex;
      }
      .space-between{
          justify-content:space-between;
      }
      .radius-10{
          border-radius:10px;
      }
      
      .radius-30{
        border-radius: 30px;
    }
    .height-50{
        height:50px !important;
    }
    .font-20{
        font-size:20px;
    }
    .f-blue{
        color: #0ccff1;
    }
    .float-right{
        float:right;
    }
    .mt-30{
        margin-top:30px;
    }
    .mt-15{
        margin-top:15px;
    }
    .pl-10{
        padding-left:10px;
    }
    .width-20{
        width:30%;
        margin:auto;
    }
}
