page-code {
    ion-content {
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
    .form {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
        border-radius: 0;
        input {
            font-size: 1.4rem;
            padding: 5px;
        }
    }
    .card {
        border-radius: 7px;
        width: 320px;
        height: 435px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        h5 {
            font-size: 1.6rem;
            line-height: 1.3;
        }
        p {
            font-size: 1.7rem;
        }
    }
    .card-title-md,
    .card-title-ios {
        font-weight: 600;
        font-size: 1.6rem;
    }
    .list-ios>.item-block:first-child {
        border-color: transparent !important;
    }
    .list-md .item-input:last-child {
        border-color: transparent !important;
    }
    ion-item {
        padding-left: 0 !important;
        .item-inner {
            padding-left: 16px;
            .text-input {
                color: $text-dark;
            }
        }
    }
}
