page-login {
    .content h1 {
        font-size:38px;
        font-weight:bold;
        margin-top:10px;
        text-align:center;
        color:$text-dark;
    }
    .option-login {
        font-size: 1.1rem;
        font-weight: 500;
        position: relative;
        padding-top: 70px;
        padding-bottom: 1rem;
        &::after,
        &::before {
            content: '';
            display: block;
            width: 50px;
            position: absolute;
            height: 1px;
            background: $form-bg;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &::after {
            left: auto;
            right: 0;
        }
    }
    .form .item-inner .input-wrapper {
        padding-left:0;
        padding-right:0;
    }
    .login {
        //position: relative;
        //top: 60px;
        width: 100%;
        padding: 30px;
        height: 425px
    }
    .logo {
        margin: 0% auto;
        //height: calc(50vh - 70px);
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: auto;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    .bg-background-img {
        background-position-y: -100px;
    }
    button {
        img {
            width: 24px;
        }
    }
    .background-none{
        background: none;
    }
    .border-round-none{
        border: 0px solid #ffffff;
        border-radius: 50px;
    }
    .row-bottom{
        position: fixed;
        bottom: 0;
        left:0;
        z-index: 1;
        margin: 20px;
    }
    .display-flex{
        display: flex;
    }
    .object-fit-contain{
        object-fit: contain;
    }
}
