<ion-header class="transparent">
    <ion-title><span class="text-white">{{"Log in" | translate}}</span></ion-title>
   </ion-header>
   
   <ion-content>
    <div class="logo">
    <h1 class="text-center text-white">Log in</h1>
    </div>
    <div class="bg-white login">
    <div>
    <ion-list class="form" [formGroup]="loginForm">
    <ion-row>
    <ion-col>
    <ion-item>
    <ion-input class="rounded border-email pl-10" type="email" placeholder="Enter your email address" formControlName="email" text-end></ion-input>
    </ion-item>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
    <ion-item>
    <ion-input class="rounded border-email pl-10" type="password" placeholder="Enter your password" text-end formControlName="password"></ion-input>
    </ion-item>
    </ion-col>
    </ion-row>
    </ion-list>
    <button ion-button full class="bg-theme text-white btn rounded" (click)="login()">{{"login" | translate}}</button>
    <ion-row style="padding-top: 8px;">
    <ion-col (click)="signup()"><span>{{"new_user" | translate}} <strong class="text-theme">{{"signup" | translate}}</strong></span></ion-col>
    <ion-col text-right><span>{{"forgot" | translate}} <strong class="text-theme">{{"password" | translate}}?</strong></span></ion-col>
    </ion-row>
    <p text-center class="option-login"><span>{{"or_continue" | translate}}</span></p>
    <ion-row>
    <ion-col col-6><button ion-button full class="bg-blue text-white btn rounded small" (click)="facebook()"><img src="assets/imgs/fb_white.png">
    <span>Facebook</span></button></ion-col>
    <ion-col col-6><button ion-button full class="bg-white text-dark btn rounded small"><img src="assets/imgs/google.png">
    <span>Google&nbsp;&nbsp;</span></button></ion-col>
    </ion-row>
    </div>
    </div>
   </ion-content>