page-location {
    .map {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0
    }
    .user {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        &.u1 {
            top: 9%;
            left: 77%;
        }
        &.u2 {
            top: 20%;
            left: 65%;
        }
        &.u3 {
            top: 30%;
            left: 50%;
        }
    }
    .dot {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        &.drop {
            top: 5%;
            left: 90%;
        }
        &.pickup {
            top: 46%;
            left: 40%;
        }
    }
    ion-navbar{
        div{
            background:white!important;
            padding:0px;
        }
    }
    ion-content{
        background: white!important;
    }
    .sub-title{
        background: #eee;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #651ec6;
        position: absolute;
        width:98%;
        margin:auto;
        margin-top:5px;
    }
    .bottom-btn{
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
}
