<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="bg-light">
            <ion-card-title><b class="text-dark">Booking summary</b></ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <ion-item>
                <ion-label>
                    <ion-icon name="arrow-up"></ion-icon>
                    <b>Total</b>
                </ion-label>
                <ion-label><span class="text-right text-dark"><b>$22.50</b></span></ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
      
    <ion-card>
        <ion-card-header class="bg-light">
            <ion-card-title><b class="text-dark">Choose your payment method</b></ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <ion-icon [name]="visiblecard?'arrow-up':'arrow-down'" class="hidden"></ion-icon>
                        <b>Card</b>
                        <img src="assets/imgs/card.png">
                    </ion-label>
                </ion-item>
            </ion-list>
                            
            <ion-list [hidden]="false" class="form accountBalance animated slideInUp" padding-top>
                <ion-row>
                    <ion-col col-5>
                        <ion-label>
                            <b class="text-color">Cardfolder name</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-7>
                        <ion-input type="text" class="card-border pl-10"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5>
                        <ion-label>
                            <b class="text-color">Card number</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-7>
                        <ion-input type="text" class="card-border pl-10"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5>
                        <ion-label>
                            <b class="text-color">Expiry date</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-7>
                        <select class="height-full">
                            <option *ngFor="let month of months">{{month}}</option>
                        </select>
                        <select class="height-full">
                            <option *ngFor="let year of years">{{year}}</option>
                        </select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5>
                        <ion-label>
                            <b class="text-color">CVV</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-7 class="pl-0">
                        <ion-row>
                            <ion-col col-5>
                                <ion-input type="text" class="card-border"></ion-input>
                            </ion-col>
                            <ion-col col-7>
                                <span class="fs-10">The last 3 digits on the back of your card</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                    <ion-checkbox></ion-checkbox>
                                    <!-- <span class="fs-13 text-color"></span>{{"Save this card for next time" | translate}} -->
                                    <span class="fs-13 text-color"> Save this card for next time</span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <button ion-button class="pay-btn" (click)="payCard()">
                        <ion-icon name="lock"></ion-icon>&nbsp;
                        {{"Pay" | translate}} $22.50
                    </button>       
                </ion-row>
            </ion-list>
        </ion-card-content>
        <ion-card-content class="hidden">
            <ion-list (click)="togglePayPal()">
                <ion-item>
                    <ion-label>
                        <ion-icon [name]="visiblepay?'arrow-up':'arrow-down'"></ion-icon>
                        <b>PayPal</b>
                        <img src="assets/imgs/paypal.png">
                    </ion-label>
                </ion-item>
            </ion-list>
                            
            <ion-list [hidden]="!visiblepay" class="form accountBalance animated slideInUp" padding-top>
                <ion-row>
                    <ion-col col-5>
                        <ion-label>
                            <b class="text-color">Cardfolder name</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-7>
                        <ion-input type="text" class="card-border pl-10"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5>
                        <ion-label>
                            <b class="text-color">Card number</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-7>
                        <ion-input type="text" class="card-border pl-10"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5>
                        <ion-label>
                            <b class="text-color">Expiry date</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-7>
                        <select class="height-full">
                            <option *ngFor="let month of months">{{month}}</option>
                        </select>
                        <select class="height-full">
                            <option *ngFor="let year of years">{{year}}</option>
                        </select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5>
                        <ion-label>
                            <b class="text-color">CVV</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-7 class="pl-0">
                        <ion-row>
                            <ion-col col-5>
                                <ion-input type="text" class="card-border"></ion-input>
                            </ion-col>
                            <ion-col col-7>
                                <span class="fs-10">The last 3 digits on the back of your card</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                    <ion-checkbox></ion-checkbox>
                                    <!-- <span class="fs-13 text-color"></span>{{"Save this card for next time" | translate}} -->
                                    <span class="fs-13 text-color"> Save this card for next time</span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <button ion-button class="pay-btn" (click)="payPaypal()">
                        <ion-icon name="lock"></ion-icon>&nbsp;
                        {{"Pay" | translate}} $22.50
                    </button>       
                </ion-row>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
