ion-content {
    .login {
        //position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 25px;
        padding-bottom: 0;
        height: 355px;
    }
    .fs-13 {
        font-size: 13px;
    }
    .fs-10 {
        font-size: 10px;
    }
    .pl-0 {
        padding-left: 0px;
    }
    .pay-btn {
        margin: 0% auto;
    }
    .logo {
        margin: 0% auto;
        //height: calc(50vh - 70px);
        position: relative;
        img {
            position: absolute;
            width: 144px;
            height: 44px;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    .bg-background-img {
        background-position-y: -100px;
    }
    .click-img {
        padding-left: 0;
        text-align: center;
        position: relative;
        max-width: 96px;
        height: 96px;
        .form {
            position: relative;
            width: 100%;
            height: 100%;
            ion-icon {
                position: absolute;
                font-size: 3rem;
                color: $text-dark;
                width: 3rem;
                height: 3rem;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
    .name-fild {
        padding-left: 0;
        padding-right: 0;
    }

    .hidden{
        display:none;
    }
}
