<ion-header class="transparent">
    <ion-navbar>
    </ion-navbar>
</ion-header>
<ion-content class="bg-white">
    <div padding text-center>
        <h1>When are you going?</h1>
    </div>
    <ion-list>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime display-format="YYYY-MM-DD" picker-format="MMMM YYYY" placeholder="Select Date" [(ngModel)]="pdate"></ion-datetime>
        </ion-item>
    </ion-list>
    <ion-row class="mt-20">
        <ion-col text-center>
            <button ion-button class="continue-btn" (click)="confirm()">{{"Continue" | translate}}</button>
        </ion-col>
    </ion-row>
</ion-content>

