<ion-header class="bg-white">
    <ion-navbar>
        <ion-row>
            <ion-col col-6>
                <button class="avatar-img" (click)="profile()">
                    <img [src]="config.info.avatar_url">
                </button>
            </ion-col>
            <ion-col col-6 text-right class="logout">
                <ion-icon name="ios-chatbubbles-outline" class="chats-icon" (click)="chats()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>
    <div text-center padding>
        <h2>Where are you leaving from?</h2>
    </div>
    <div class="searchbox">
        <!-- <ion-list>
            <ion-item>
              <ion-input (click)="showAddressModal()" [(ngModel)]="address.place" type="text" placeholder="Pick an address">              </ion-input>
            </ion-item>
          </ion-list> -->
        <!-- <ion-searchbar (ionInput)="getItems($event)" autocorrect="off" [(ngModel)]="from"></ion-searchbar> -->
        <ion-searchbar #searchText [(ngModel)]="autocomplete.query"  (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>

        
        <ion-list *ngIf="showList" style="height:fit-content">
            <ion-item *ngFor="let item of autocompleteItems" tappable   (click)="selectItem(item)">
            {{ item }}
            </ion-item>
        </ion-list>
    
<!--         
        <ion-list >
            <ion-item *ngFor="let item of items" (click)="selectItem(item)">
                {{ item.location }}
            </ion-item>
        </ion-list> -->
    </div>
    <ion-list no-lines class="mt-10">
        <ion-row>
            <button ion-item (click)="currentlocation()">
                <ion-icon name="md-locate"></ion-icon>
                <span class="text-color pl-10"><b>{{"Use current location" | translate}}</b></span>
            </button>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="continue()">{{"continue" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>



