<ion-header class="transparent">
    <ion-navbar>
        
    </ion-navbar>
</ion-header>

<ion-content>
    <div text-center padding>
        <img src="assets/imgs/man1.png" class="user u1">
    </div>
    <div text-center padding>
        <span text-large>{{item.name}}</span>
    </div>
    <div text-center padding>
        <span>{{item.age}}y/o</span>
    </div>
    <ion-item (click)="chatting()">
        <ion-avatar item-start>
            <ion-icon name="ios-chatbubbles-outline" class="chats-icon mg-10"></ion-icon>
        </ion-avatar>
        <h2 class="text-dark">I'm chatty when I feel like it</h2>
    </ion-item>
    <ion-list no-lines class="list list-ios border-tb-1">
        <ion-item (click)="chatting()">
            <ion-avatar item-start>
                <ion-icon name="ios-checkmark-circle-outline" class="chats-icon mg-10 color-green"></ion-icon>
            </ion-avatar>
            <h2 class="text-dark">ID verified</h2>
        </ion-item>
        <ion-item (click)="chatting()">
            <ion-avatar item-start>
                <ion-icon name="ios-checkmark-circle-outline" class="chats-icon mg-10 color-green"></ion-icon>
            </ion-avatar>
            <h2 class="text-dark">Phone verified</h2>
        </ion-item>
        <ion-item (click)="chatting()">
            <ion-avatar item-start>
                <ion-icon name="ios-checkmark-circle-outline" class="chats-icon mg-10 color-green"></ion-icon>
            </ion-avatar>
            <h2 class="text-dark">Email verified</h2>
        </ion-item>
    </ion-list>
    <ion-list no-lines class="list list-ios">
        <ion-item item-start>
            <h2 class="text-dark" text-start>2 rides published</h2>
        </ion-item>
        <ion-item item-start>
            <h2 class="text-dark" text-start>Member since January 2020</h2>
        </ion-item>
    </ion-list>
</ion-content>



