page-uahome {
    ion-icon {
    //   color: #FFF !important;
      font-size: 30px;
    }
    .zoom-btn{
      color:#000 !important;
    }
    .menu-btn,
    .button-md.activated {
      background-color: transparent;
    }
    .content-color {
       background-color: black;
      background-repeat: none;
      background-size: cover;
      font-size: 17px !important;
      text-align: center;
  
      .button-row{
        margin-top:20px;
      }
      .square{
        height: 482px;
        border-radius: 42px;
        background-color:#FFF;
      }
      .zoom{
        height:50px;
        width:50px;
        background-color: #FFF;
        border-radius: 100%;
        color:#000;
      }
      .camera-circle{
        background-color: #fff;
        border:2px solid #000;
        border-radius: 100%;
        height:80px;
        width:80px;
      }
    }
  }
  