<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="{{'my_ride' | translate}}" tabIcon="md-car" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="{{'chats' | translate}}" tabIcon="md-chatboxes" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="{{'requests' | translate}}" tabIcon="md-person-add" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="{{'Wallet' | translate}}" tabIcon="md-card" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="{{'more' | translate}}" tabIcon="md-person" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>
