page-listride {
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 6px;
        margin-top: 6px;
        ion-item {
            .name {
                width: calc(100% - 90px);
                display: inline-block;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    ion-icon {
                        margin-left: 5px;
                    }
                }
            }
            .more {
                width: 80px;
                display: inline-block;
                text-align: right;
                h2 {
                    ion-icon {
                        margin-left: 5px;
                        font-size: 1.5rem;
                        margin: 0;
                        color: $text-light;
                        &.text-yellow {
                            color: $yellow-color;
                        }
                    }
                }
            }
            p {
                font-size: 1.1rem;
                color: $text-dark;
                font-weight: 400;
            }
        }
    }
    ion-card-content {
        padding-left: 30px !important;
        position: relative;
        .ride-detail {
            position: relative;
            margin-bottom: 1rem;
            p {
                font-size: 1.2rem;
                padding-left: 43px;
                position: relative;
                color: $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                .time {
                    width: 100px;
                    display: inline-block;
                    text-align: center;
                    padding-left: 14px;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 20px;
                background: $text-dark;
                position: absolute;
                left: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .col,
        .detail-text {
            font-size: .95rem;
            text-transform: none;
            font-weight: 500;
            padding-left: 0;
            padding-right: 0;
            white-space: nowrap;
        }
        .full.btn {
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
            height: 32px;
            font-size: 1.1rem;
            padding-right: 1.8rem;
            padding-left: 1.8rem;
        }
    }
    .center-align {
        align-items: center;
    }
    .flow-ride {
        font-size: 1.2rem;
        font-weight: 500;
        color: $text-light;
        padding: 1rem 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        h2 {
            font-size: 1.3rem;
            font-weight: 300;
            margin-bottom: 5px;
            margin-top: 0;
        }
        img {
            width: 18px;
        }
    }
}
