<ion-header class="transparent">
    <ion-navbar>
      <ion-title>{{"find_ride" | translate}} </ion-title>
      <span text-end item-end float-end style="color:white">
        <ion-icon name="md-car" class="text-white"></ion-icon>&nbsp;&nbsp;{{"edit_ride" | translate}}
      </span>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/face-1.jpg">
            </ion-avatar>
            <div class="name">
                <h2>David Johnson
                </h2>
                <p>Honda Cvic | White</p>
            </div>
            <div class="more">
                <h2 class="text-light">
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </h2>
                <p class="text-light">(34 {{"reviews" | translate}})</p>
            </div>
        </ion-item>
        <ion-card-content>
            <div class="ride-detail">
                <p>
                    <span class="icon-location bg-theme"></span>Washington sq.park New York</p>
                <p>
                    <span class="icon-location bg-yellow"></span>Harison, east sq.park New York</p>
            </div>
            <ion-row class="center-align">
                <ion-col col-3 class="detail-text text-theme">
                    25<sup>th</sup> Feb, 12:12pm
                </ion-col>
                <ion-col col-3 class="detail-text text-theme" text-center>
                    2 {{"seats" | translate}}
                </ion-col>
                <ion-col col-2 class="detail-text" style="color: #f00;" text-center>
                    {{"reject" | translate}}
                </ion-col>
                <ion-col center text-center col-4 text-right style="margin-left: auto;">
                    <button class="btn bg-theme rounded full text-white" (click)="riderprofile()">{{"accept" | translate}}</button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/man2.png">
            </ion-avatar>
            <div class="name">
                <h2>David Johnson
                </h2>
                <p>Honda Cvic | White</p>
            </div>
            <div class="more">
                <h2 class="text-light">
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </h2>
                <p class="text-light">(34 {{"reviews" | translate}})</p>
            </div>
        </ion-item>
        <ion-card-content>
            <div class="ride-detail">
                <p>
                    <span class="icon-location bg-theme"></span>Washington sq.park New York</p>
                <p>
                    <span class="icon-location bg-yellow"></span>Harison, east sq.park New York</p>
            </div>
            <ion-row class="center-align">
                <ion-col col-3 class="detail-text text-theme">
                    25<sup>th</sup> Feb, 12:12pm
                </ion-col>
                <ion-col col-3 class="detail-text text-theme" text-center>
                    2 {{"seats" | translate}}
                </ion-col>
                <ion-col col-2 class="detail-text" style="color: #f00;" text-center>
                    {{"reject" | translate}}
                </ion-col>
                <ion-col center text-center col-4 text-right style="margin-left: auto;">
                    <button class="btn bg-theme rounded full text-white" (click)="riderprofile()">{{"accept" | translate}}</button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/man1.png">
            </ion-avatar>
            <div class="name">
                <h2>David Johnson
                </h2>
                <p>Honda Cvic | White</p>
            </div>
            <div class="more">
                <h2 class="text-light">
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star" class="text-yellow"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </h2>
                <p class="text-light">(34 {{"reviews" | translate}})</p>
            </div>
        </ion-item>
        <ion-card-content>
            <div class="ride-detail">
                <p>
                    <span class="icon-location bg-theme"></span>Washington sq.park New York</p>
                <p>
                    <span class="icon-location bg-yellow"></span>Harison, east sq.park New York</p>
            </div>
            <ion-row class="center-align">
                <ion-col col-3 class="detail-text text-theme">
                    25<sup>th</sup> Feb, 12:12pm
                </ion-col>
                <ion-col col-3 class="detail-text text-theme" text-center>
                    2 {{"seats" | translate}}
                </ion-col>
                <ion-col col-2 class="detail-text" style="color: #f00;" text-center>
                    {{"reject" | translate}}
                </ion-col>
                <ion-col center text-center col-4 text-right style="margin-left: auto;">
                    <button class="btn bg-theme rounded full text-white" (click)="riderprofile()">{{"accept" | translate}}</button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
