<ion-header class="bg-white">
    <ion-navbar>
        <ion-title class="text-center">{{"sign_in" | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="bg-white">
        <h1 class="text-center">How do you want to log in?</h1>
        <ion-list>
            <ion-row>
                <ion-col>
                    <button ion-item (click)="reviews()" class="pr-10">
                        <span class="pl-10 text-color">{{"Continue with facebook" | translate}}</span>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button ion-item (click)="loginemail()" class="pr-10">
                        <span class="pl-10 text-color">{{"Use my email" | translate}}</span>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="pr-10">
                        <p class="fs-15 pl-10">Not a member yet?<span class="text-blue" (click)="signup()"> Sign up</span></p>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
    </div>
</ion-content>