<ion-header class="bg-white">
    <ion-navbar>
        <ion-row class="hidden">
            <ion-col col-6>
                <button class="avatar-img" (click)="profile()">
                    <img src="assets/imgs/man3.png">
                </button>
            </ion-col>
            <ion-col col-6 text-right class="logout">
                <ion-icon name="ios-chatbubbles-outline" class="chats-icon" (click)="chats()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
    
    <ion-content>
        <div text-center padding>
            <h2>Where are you heading?</h2>
        </div>
        <div class="searchbox">
            <!-- <ion-searchbar (ionInput)="getItems($event)" autocorrect="off" [(ngModel)]="to"></ion-searchbar>
            <ion-list *ngIf="showList">
                <ion-item *ngFor="let item of items" (click)="selectItem(item)">
                    {{ item.location }}
                </ion-item>
            </ion-list> -->
            <ion-searchbar #searchText [(ngModel)]="autocomplete.query"  (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>

        
            <ion-list *ngIf="showList" style="height:fit-content" class="list list-md">
                <ion-item *ngFor="let item of autocompleteItems" tappable   (click)="selectItem(item)">
                {{ item }}
                </ion-item>
            </ion-list>
        </div>
        <ion-list no-lines class="mt-10">
            <ion-row>
                <button ion-item (click)="currentlocation()">
                    <ion-icon name="md-locate"></ion-icon>
                    <span class="text-color pl-10"><b>{{"Use current location" | translate}}</b></span>
                </button>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <button ion-button class="continue-btn" (click)="continue()">{{"continue" | translate}}</button>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-content>
    
    
    
    