<ion-header class="transparent">
    <ion-navbar>
        <ion-title text-uppercase>{{"my_reviews" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/face-1.jpg">
            </ion-avatar>
            <h2>Buzz Lightyear</h2>
            <p>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
            </p>
            <ion-note item-end>15 April 2017</ion-note>
        </ion-item>
        <ion-card-content>
            <div class="detail">
                <p>Badges are small components that typically communicate a numerical value to the user. They are typically used within an item.</p>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/man1.png">
            </ion-avatar>
            <h2>Buzz Lightyear</h2>
            <p>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
            </p>
            <ion-note item-end>15 April 2017</ion-note>
        </ion-item>
        <ion-card-content>
            <div class="detail">
                <p>Badges are small components that typically communicate a numerical value to the user. They are typically used within an item.</p>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/man2.png">
            </ion-avatar>
            <h2>Buzz Lightyear</h2>
            <p>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
            </p>
            <ion-note item-end>15 April 2017</ion-note>
        </ion-item>
        <ion-card-content>
            <div class="detail">
                <p>Badges are small components that typically communicate a numerical value to the user. They are typically used within an item.</p>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
