<ion-header class="transparent">
    <ion-navbar>
      
    </ion-navbar>
</ion-header>

<ion-content class="">
    <h1 text-center>Check your booking details</h1>
    
    <div class="mt-15 about address">
        <span class="font-20">Tue 24 Sep</span>
        <ion-row>
            <ion-col col-3 text-center padding mt-15>
                <p class="mt-12">{{item.leave_time}}</p>
                <p class="mt-45">{{item.arrive_time}}</p>
            </ion-col>
            <ion-col col-9>
                <div class="ride-detail">
                    <p><small class="f-black">{{item.departure}}</small>
                        <span class="icon-location"></span><br/><span>{{item.departure}}</span></p>
                    <p>
                        <small class="f-black">{{item.arrival}}</small>
                        <span class="icon-location"></span><br/><span>{{item.arrival}}</span></p>
                </div>
            </ion-col>
        </ion-row>
        
    </div>
    <ion-item>
        <span>Total</span><span class="float-right font-20">${{item.price}}</span>
        <p class="mt-30"><span class="font-20 f-blue">See price details</span></p>
    </ion-item>
    <ion-row class="mt-30">
        <ion-col text-center>
            <button ion-button class="continue-btn" (click)="book()">Book</button>
        </ion-col>
    </ion-row>
</ion-content>
