page-booking {
    ion-title {
        ion-icon {
            margin-left: auto;
            float: right;
            top: 1px;
            position: relative;
        }
    }
    .item {
        border-bottom: 1px solid #dedede;
        margin-bottom: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        ion-avatar {
            position: relative;
            .badge {
                border-radius: 50%;
                height: 18px;
                width: 18px;
                padding: 0;
                line-height: 18px;
                font-weight: 500;
                font-size: .92rem;
                text-align: center;
                position: absolute;
                bottom: -5px;
                right: 0px;
            }
        }
        .item-inner {
            border: none !important;
            h2 {
                margin: 2px 0;
                font-size: 1.35rem;
                font-weight: 600;
                margin-bottom: 4px;
                .text-theme {
                    color: gray;
                }
                ion-icon {
                    margin-left: 3px;
                    color: gray;
                }
            }
            p {
                color: gray;
                font-size: 1.3rem;
            }
            ion-note {
                margin-top: -10px;
                font-size: 1rem;
                display: flex;
                align-items: center;
                span {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: gray;
                    margin-left: 7px;
                }
            }
        }
    }
    
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
    }
    ion-card-content {
        padding: 15px 30px !important;
        position: relative;
        .detail-text {
            font-size: 1rem;
            color: #bfbfbf;
            text-transform: none;
            white-space: nowrap;
            h2 {
                color:gray;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 18px;
            }
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    
    .about {
        margin-bottom: 5px;
        padding: 10px 20px;
        .heading {
            font-size: 1.25rem;
            font-weight: 500;
        }
        .ride-detail {
            position: relative;
            margin-bottom: 2rem;
            margin-top: 2rem;
            .label {
                font-size: 1.1rem;
            }
            p {
                font-size: 1.25rem;
                padding-left: 3rem;
                position: relative;
                color: gray;
                font-weight: 300;
                small {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color:gray;
                    display: block;
                    margin-bottom: 5px;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 5px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    border: 2px solid $text-dark;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 4px;
                height: 48%;
                background: #0b444a;
                position: absolute;
                left: 4px;
                top: -30px;
                bottom: 0;
                margin: auto;
            }
        }
        &.info {
            .item {
                padding: 0 !important;
                .text-input {
                    font-size: 1.2rem;
                }
            }
            .col {
                padding: 0;
                display: block;
                .select {
                    font-size: 1.2rem;
                    padding-right: 25px;
                }
            }
            ion-icon {
                &.check {
                    position: absolute;
                    z-index: 11;
                    top: 0;
                }
            }
        }
    }
    .float-right{
        float:right;
    }
    .font-20{
        font-size:20px;
    }
    .mt-15{
        margin-top:15px;
    }
    .mt-45{
        margin-top:45px;
    }
    .mt-30{
        margin-top:30px;
    }
    .mt-12{
        margin-top:12px;
    }
    .f-black{
        color: black !important;
    }
    .f-blue{
        color: #0ccff1;
    }
    .radius-30{
        border-radius: 30px;
    }
    .height-50{
        height:50px !important;
    }
}
