page-confirmpopup {
    .close-icon {
        font-size: 3rem;
        right: 10px;
        top: 10px;
        position: absolute;
    }
    .card-content {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 26px !important;
        padding-right: 26px !important;
    }
    .content {
        background: rgba(0, 0, 0, .5) !important;
    }
    .card {
        h6 {
            color: $theme-color;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        width: 80%;
        margin: auto;
        height: 465px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 8px;
        ion-item {
            .name {
                width: calc(100% - 90px);
                display: inline-block;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    ion-icon {
                        margin-left: 5px;
                    }
                }
            }
            p {
                font-size: 1.1rem;
                color: #777;
                font-weight: 400;
            }
        }
    }
    ion-card-content {
        padding-left: 30px !important;
        position: relative;
        .ride-detail {
            position: relative;
            margin-bottom: 1rem;
            p {
                font-size: 1.2rem;
                padding-left: 10px;
                position: relative;
                color: $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                padding-left: 45px;
                small {
                    display: block;
                    width: 100%;
                    margin-top: 15px;
                    margin-bottom: 3px;
                    font-size: 1.1rem;
                    color: $text-gray;
                    ion-icon {
                        float: right;
                        font-size: 1.3rem;
                        margin-right: 5px;
                    }
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                    color: $text-gray;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 60px;
                background: $text-dark;
                position: absolute;
                left: 5px;
                bottom: 25px;
            }
            &.no-before {
                &::before {
                    display: none;
                }
            }
        }
        .detail-text {
            font-size: 1.23rem;
            text-transform: none;
            font-weight: 500;
        }
        .full.btn {
            width: 100%;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
            height: 35px;
        }
    }
    .seats {
        .rate {
            font-weight: 700;
            color: $theme-color;
            small {
                font-weight: 300;
                color: $text-gray;
                display: block;
            }
        }
        .seats-tag {
            padding: 12px;
            display: flex;
            border: 1px solid $theme-color;
            border-radius: 10px;
            color: $theme-color;
            align-items: center;
            ion-icon {
                font-size: 2rem;
            }
            strong {
                margin: auto;
                color: $text-dark;
            }
        }
    }
}
