<ion-header class="bg-white">
    <ion-navbar>
        <ion-row class="r-padding-10">
            <ion-col text-right>
                <a (click)="login()" class="login"><ion-icon name="md-log-in" class="title-icon"></ion-icon>Log in</a>
                <a (click)="signup()" class="login"><ion-icon name="md-person-add" class="title-icon"></ion-icon>Sign up</a>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content class="bg-white">
    <h1>Todays's rides</h1>
    <ion-list>
        <ion-item no-padding *ngFor="let item of items" (click)="Trip(item)">
            <ion-row class="ride">
                <ion-col col-6>
                    <p>{{item.departure}}</p>
                    <p><ion-icon name="ios-return-right"></ion-icon> {{item.arrival}}</p>
                </ion-col>
                <ion-col col-4>
                    <span class="price">Price: ${{item.price}}</span>
                </ion-col>
                <ion-col col-2 text-right>
                    <a class="arraw-forward"><ion-icon name="ios-arrow-forward"></ion-icon></a>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <h1>Where do you want to go?</h1>
    <ion-list class="position-relative">
        <ion-item no-padding>
            <ion-input (click)='fromwhere()' [(ngModel)]="from" class="search-card" placeholder="Enter the full address." disabled></ion-input>
        </ion-item>
        <ion-item no-padding>
            <ion-input (click)='towhere()' [(ngModel)]="to" class="search-card mt-20" placeholder="Enter the full address." disabled></ion-input>
        </ion-item>
        <a (click)="swap()"><img src="assets/imgs/switch.png" class="pos-abs"></a>
    </ion-list>
    <ion-list>
        <ion-item no-padding>
            <ion-row class="padding-10">
                <ion-col col-7>
                    <a (click)="date()">{{pdate}}</a>
                </ion-col>
                <ion-col col-5>
                    <a (click)="passengers()">{{pcount}} Passengers</a>
                </ion-col>
            </ion-row>            
        </ion-item>
    </ion-list>
    <ion-row class="mt-20">
        <ion-col text-center>
            <button ion-button class="continue-btn" (click)="search()">{{"Search" | translate}}</button>
        </ion-col>
    </ion-row>
</ion-content>
