page-dashboard {
    .toolbar {
        .toolbar-background-md {
            border-bottom:0px solid #b2b2b2;
        }
    }
    .list {
        padding:10px 20px 0 20px;
        margin:0;
    }
    .m-15 {
        margin:15px 0 !important;
    }
    .list .item-md {
        padding-left:0;
        border-bottom:1px solid $bg-gray;
    }
    .r-padding-10 {
        padding-right:10px;
    }
    .login {
        font-size: 18px;
        color: $text-dark;
        border: 1px solid $text-dark;
        border-radius: 12px;
        padding: 6px 12px;
        margin: 0 6px 0 0;
        .icon {
            font-size:22px;
            padding-right:6px;
        }
    }
    .label {
        margin:4px 0;
    }
    .content h1 {
        margin: 25px 0 5px 0;
        padding-left:22px;
    }
    .ride {
        border-radius:16px;
        color: $white-color;
        background:$theme-color;
        padding:8px 20px;
        p {
            font-size:14px;
            color:$white-color;
        }
        .arraw-forward {
            color:$white-color;
            font-size:24px;
            line-height:36px;
        }
        .price {
            font-size:18px;
            line-height:36px;
        }
    }
    .card-md {
        padding:8px 16px;
        border-radius:12px;
        background:$bg-gray;
        color: $text-dark;
    }
    .card-md p {
        color:$text-dark;
    }
    .mt-20 {
        margin-top: 20px;
    }
    .avatar-img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-left: 10px;
    }
    .chats-icon {
        font-size: 32px;
        margin-right: 12px;
    }
    .position-relative {
        position: relative;
    }
    .floatright {
        float: right;
    }
    .radius-30 {
        border-radius: 30px;
    } 
    .height-50{
        height:50px !important;
    }
    .m-auto{
        margin:auto !important;
        width:30% !important;
    }
    .padding-10 {
        padding:10px 0;
    }
    .card {
        margin-left: 0;
        margin-right: 0;
        box-shadow: none;
        margin-bottom: 15px;
        width: 100%;
        ion-item {
            .name {
                width: calc(100% - 70px);
                display: inline-block;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    ion-icon {
                        margin-left: 5px;
                    }
                }
            }
            .more {
                width: 65px;
                display: inline-block;
                h2 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: $theme-color;
                    display: flex;
                    ion-icon {
                        margin-left: 5px;
                        font-size: 2rem;
                        margin-left: auto;
                        color: $text-dark;
                    }
                }
            }
            p {
                font-size: 1.1rem;
                color: $text-dark;
                font-weight: 400;
            }
        }
    }
    ion-card-content {
        padding-left: 60px !important;
        .ride-detail {
            margin-bottom: 1rem;
            p {
                font-size: 1.2rem;
                padding-left: 10px;
                color: $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                .time {
                    width: 70px;
                    display: inline-block;
                    text-align: center;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 20px;
                background: $text-dark;
                position: absolute;
                left: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .detail-text {
            height: 4.5rem;
            font-size: 1rem;
            color: $text-light;
            text-transform: none;
            h2 {
                color: $theme-color;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 18px;
            }
        }
        .full.btn {
            float: right;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
            height: 35px;
            font-size: 1.2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .col {
        padding-left: 0;
        padding-right: 0;
    }
    .no-padding {
        padding:0;
    }
    .button-size{
    height: 40px;
    margin-right: 25px !important;
    margin-left: 25px !important;
    background-color: #f8563a !important;
    }
    .search-card {
    padding: 6px 18px;
    border-radius: 15px;
    background: #e1e1e1;
    font-weight:bold;
    color: $text-dark;
    }
    .pos-abs{
    position: absolute;
    top: 50px;
    right: 40px;
    }
    .mt-20{
        margin-top: 20px;
    }
    .item-inner{
        border-bottom: none !important;
    }
}
