<ion-header class="transparent" style="background-color:white;">
    <ion-navbar>
        <ion-row>
            <ion-col col-6>
            </ion-col>
            <ion-col col-6 text-right class="logout">
                <ion-avatar item-start class="floatright">
                    <ion-icon name="ios-chatbubbles-outline" class="chats-icon hidden"></ion-icon>
                </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content class="bg-light">
    <ion-item class="padtop0">
        <ion-avatar item-start>
            <img src="assets/imgs/face-1.jpg">
        </ion-avatar>
        <div class="name">
            <h2 class="mar0">Thierry 45(y/n)</h2>
        </div>
    </ion-item>
    <div class = "item spanblue">
         <div class="marleft10"> YOUR RATING FOR Thierry.</div>
    </div>
    <ion-list>
        <button ion-item (click)="reviews()">
            <ion-avatar item-start class="mar0">
                <ion-icon name="ios-star" class="avatar_black"></ion-icon>
            </ion-avatar>
            <div class = "card">
                    <div class = "item">
                       Overall experience
                    </div>
                    <div class = "item item-text-wrap">
                       Outsanding
                    </div>
                 </div>
        </button>
        <button ion-item (click)="notification()">
            <ion-avatar item-start class="mar0">
                <ion-icon name="md-car" class="avatar_black"></ion-icon>
            </ion-avatar>
            <div class = "card">
                    <div class = "item">
                       Driving skills (anonymous)
                    </div>
                    <div class = "item item-text-wrap">
                       Pleasant
                    </div>
                 </div>
        </button>
        <button ion-item (click)="terms()">
            <ion-avatar item-start class="mar0">
                <ion-icon name="ios-chatbubbles-outline" class="avatar_black"></ion-icon>
            </ion-avatar>
            <div class = "card">
                    <div class = "item">
                       Comment
                    </div>
                    <div class = "item item-text-wrap">
                       Great driver, very good experience traveling.
                    </div>
                 </div>
        </button>
    </ion-list>
    <ion-list no-lines>
            <button ion-button full class="text-white btn rounded radius_button" (click)="tabs()">{{"Preview my rating" | translate}}</button>
    </ion-list>
</ion-content>
