<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <div text-center>
        <h2>What's your date of birth?</h2>
    </div>
  
    <ion-list no-lines>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-datetime displayFormat=" MM/DD/YYYY" class="rounded border-email pl-10 width-full" placeholder="MM/DD/YYYY" [(ngModel)]="birth"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="continuebirth(birth)">{{"continue" | translate}}</button>
            </ion-col>
        </ion-row>
        
    </ion-list>
</ion-content>
    
    
    
    