<ion-header class="bgwhite">
    <ion-navbar>
    </ion-navbar>
</ion-header>   

<ion-content padding class="chat-bg">
    <div class="cb">
        <div class=" chat chat-right bg-white text-dark" text-right padding float-right>
            <p>Hey David !!</p>
            <p>Good time to talk?</p>
            <p><small>12:33 pm</small></p>
        </div>
    </div>
    <div class="cb">
        <div class="chat chat-left bg-theme text-white" text-left padding float-left>
            <p>Hey mate !!</p>
            <p>Yes, tell me your query bro!</p>
            <p><small>12:33 pm</small></p>
        </div>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="fixed-bottom">
      <ion-list inset>
        <ion-item>
          <ion-icon name="md-add" class="circle-icon" item-start></ion-icon>
          <ion-input type="text" placeholder="Type your Message"></ion-input>
          <ion-icon name="md-send" class="text-theme" item-end></ion-icon>
        </ion-item>
      </ion-list>
    </div>  
  </ion-toolbar>
</ion-footer>
