page-terms {
    .bg-background-img {
        background-position-y: -140px;
        .bg-white {
            padding: 20px;
            h4 {
                font-size: 1.7rem;
                font-weight: 600;
                margin-top: .5rem;
                margin-bottom: 2rem;
            }
            p {
                line-height: 1.5;
                font-weight: 500;
            }
        }
    }
    .logo {
        margin: 0% auto;
        height: calc(30vh - 10px);
        position: relative;
        img {
            position: absolute;
            width: 144px;
            height: 44px;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}
