<ion-header class="transparent">
    <ion-navbar>
        <ion-title><span class="text-white">{{"t&c" | translate}}</span></ion-title>
    </ion-navbar>
    <div class="logo">
        <img src="assets/imgs/logo.png" alt="logo">
    </div>
</ion-header>

<ion-content class="bg-background-img">
    <div class="bg-white">
        <h4 class="text-theme">{{"t&v" | translate}}</h4>
        <p class="text-dark">{{"t&v_text" | translate}}</p>
        <p class="text-dark">{{"t&v_text1" | translate}}</p>
        <p class="text-dark">{{"t&v_text2" | translate}}</p>

    </div>


</ion-content>
