<div class="width-full height-full bg-white">
    <ion-slides pager="true" >
      <ion-slide>
        <img src="assets/imgs/carousel/Landing 1-4.png">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/carousel/Landing 2-4.png">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/carousel/Landing 3-4.png">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/carousel/Landing 4-4.png">
      </ion-slide>
    </ion-slides>
    <ion-row class="row-bottom">
        <img class="object-fit-contain" src="assets/imgs/carousel/btn_findyourpeople.png" (click) = "onFindYourPeople()">
        <ion-col class="display-flex">
            <img col-6 class="object-fit-contain" src="assets/imgs/carousel/btn_signup.png" (click) = "onSignup()">
            <img col-6 class="object-fit-contain" src="assets/imgs/carousel/btn_login.png" (click) = "onLogin()">
        </ion-col>
    </ion-row>
</div>