/* Without setting height the slides will take up the height of the slide's content */
page-carousel{
    ion-slides {
        height: 100%;
      }
    .swiper-pagination-bullets {
        left: 0;
        top: 50px;
        width: 100%;
    }
    .swiper-pagination-bullet-active {
        background: #651ec6;
        opacity: 1;
    }
    .row-bottom{
        position: fixed;
        bottom: 0;
        z-index: 1;
        margin: 20px;
    }
    .display-flex{
        display: flex;
    }
    .swiper-slide img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        position: absolute;
        /* margin: 100px; */
        top: 50%;
        left: 50%;
        /* transform: translateX(-50%); */
        transform: translate(-50%);
        transform: translate(-50% , -50%);
        object-fit: contain;
    }
    .slide-zoom{
        position: relative;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
    }
    .object-fit-contain{
        object-fit: contain;
    }
}
