<ion-header class="transparent">
    <ion-navbar>
        <ion-title padding text-center>{{"my_profile" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-item style="position: relative;z-index: 2;">
        <ion-avatar item-start>
            <img src="assets/imgs/man3.png">
        </ion-avatar>
        <div class="name">
            <h2>David Johnson
            </h2>
            <p>{{"edit" | translate}} {{"profile" | translate}}</p>
        </div>
        <div class="more">
            <h2>
                <ion-icon name="ios-star"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
                <ion-icon name="ios-star"></ion-icon>
            </h2>
            <p>(53 {{"reviews" | translate}})</p>
        </div>
    </ion-item>
    <div class="tabs bg-blue">
        <ion-segment [(ngModel)]="myprofile">
            <ion-segment-button value="about">
                {{"about" | translate}}
            </ion-segment-button>
            <ion-segment-button value="reviews">
                {{"reviews" | translate}}
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="myprofile">
        <ion-list *ngSwitchCase="'about'">
            <div class="bg-white about address">
                <p class="text-theme heading">{{"address" | translate}}<span float-right>{{"edit" | translate}}</span></p>
                <div class="ride-detail">
                    <p><small>{{"home" | translate}}</small>
                        <span class="icon-location bg-theme"></span>140 central Building near hdfc bank Washington sq.park New York</p>
                    <p>
                        <small>{{"office" | translate}}</small>
                        <span class="icon-location bg-yellow"></span>Harison, central Building near hdfc bank east sq.park New York</p>
                </div>
            </div>
            <div class="bg-white about info">
                <p class="text-theme heading">{{"personal" | translate}}<span float-right>{{"edit" | translate}}</span></p>
                <ion-list no-lines class="form-list">
                    <ion-item>
                        <ion-label floating>{{"user_name" | translate}}</ion-label>
                        <ion-input type="text" value="Johan Bitoda" readonly></ion-input>
                    </ion-item>
                </ion-list>
            </div>
            <div class="bg-white about info">
                <p class="text-theme heading">{{"verification" | translate}}<span float-right>{{"save" | translate}}</span></p>
                <ion-list no-lines class="form-list">
                    <ion-item>
                        <ion-label floating>{{"verification_type1" | translate}}</ion-label>
                        <ion-input type="text" value="+91 964 148 6000" readonly></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="ios-checkmark-circle" class="text-theme check"></ion-icon>
                        <ion-label floating>{{"verification_type2" | translate}}</ion-label>
                        <ion-input type="text" value="johanbittoda@email.com" readonly></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="ios-checkmark-circle" class="text-theme check"></ion-icon>
                        <ion-label floating>{{"verification_type3" | translate}}</ion-label>
                        <ion-input type="text" value="Senior Architechat Alex Designs." readonly></ion-input>

                    </ion-item>
                </ion-list>
            </div>
            <div class="bg-white about info">
                <p class="text-theme heading">{{"car_info" | translate}}<span float-right>{{"save" | translate}}</span></p>
                <ion-list no-lines class="form-list">
                    <ion-row>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>{{"car_brand" | translate}}</ion-label>
                                <ion-select [(ngModel)]="notifications" interface="action-sheet">
                                    <ion-option selected value="Honda">Honda</ion-option>
                                    <ion-option value="Audi">Audi</ion-option>
                                    <ion-option value="BMW">BMW</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>{{"car_model" | translate}}</ion-label>
                                <ion-select [(ngModel)]="notifications" interface="action-sheet">
                                    <ion-option selected value="Civik">Civik</ion-option>
                                    <ion-option value="Luxary">Luxary</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>{{"passenger_seat" | translate}}</ion-label>
                                <ion-select [(ngModel)]="notifications" interface="action-sheet">
                                    <ion-option value="1">1 Seat</ion-option>
                                    <ion-option value="2">2 Seats</ion-option>
                                    <ion-option selected value="2">3 Seat</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>{{"ac_option" | translate}}</ion-label>
                                <ion-select [(ngModel)]="notifications" interface="action-sheet">
                                    <ion-option selected value="yes">AC Availible</ion-option>
                                    <ion-option value="no">Not Availible</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>{{"car_no" | translate}}</ion-label>
                                <ion-input type="text" value="D3 34 45D" readonly></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>{{"car_color" | translate}}</ion-label>
                                <ion-input type="text" value="White" readonly></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="reviews">
            <div class="bg-white" padding style="margin-bottom: 4px;">
                <div class="rating-box">
                    <p>
                        <span class="text-1">5<ion-icon name="md-star"></ion-icon></span>
                        <span class="rate-bar"><span class="bg-theme" style="width: 100%"></span></span>
                        <span class="text-2">100</span>
                    </p>
                    <p>
                        <span class="text-1">4<ion-icon name="md-star"></ion-icon></span>
                        <span class="rate-bar"><span class="bg-theme" style="width: 90%"></span></span>
                        <span class="text-2">90</span></p>
                    <p>
                        <span class="text-1">3<ion-icon name="md-star"></ion-icon></span>
                        <span class="rate-bar"><span class="bg-theme" style="width: 70%"></span></span>
                        <span class="text-2">60</span>
                    </p>
                    <p>
                        <span class="text-1">2<ion-icon name="md-star"></ion-icon></span>
                        <span class="rate-bar"><span class="bg-theme" style="width: 50%"></span></span>
                        <span class="text-2">40</span>
                    </p>
                    <p>
                        <span class="text-1">1<ion-icon name="md-star"></ion-icon></span>
                        <span class="rate-bar"><span class="bg-theme" style="width: 20%"></span></span>
                        <span class="text-2">20</span>
                    </p>
                </div>
            </div>
            <ion-card class="review">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/face-1.jpg">
                    </ion-avatar>
                    <h2>Buzz Lightyear</h2>
                    <p>
                        <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                        <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                        <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                        <ion-icon name="ios-star"></ion-icon>
                        <ion-icon name="ios-star"></ion-icon>
                    </p>
                    <ion-note item-end>15 April 2017</ion-note>
                </ion-item>
                <ion-card-content>
                    <div class="detail">
                        <p>Badges are small components that typically communicate a numerical value to the user. They are typically used within an item.</p>
                    </div>
                </ion-card-content>
            </ion-card>
            <ion-card class="review">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/face-1.jpg">
                    </ion-avatar>
                    <h2>Buzz Lightyear</h2>
                    <p>
                        <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                        <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                        <ion-icon name="ios-star" class="text-yellow"></ion-icon>
                        <ion-icon name="ios-star"></ion-icon>
                        <ion-icon name="ios-star"></ion-icon>
                    </p>
                    <ion-note item-end>15 April 2017</ion-note>
                </ion-item>
                <ion-card-content>
                    <div class="detail">
                        <p>Badges are small components that typically communicate a numerical value to the user. They are typically used within an item.</p>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
