<ion-header class="bg-white">
    <ion-navbar>
      <ion-title class="text-center float-left">
          {{"Your Personal Information" | translate}}
      </ion-title>
      <ion-icon name="ios-log-out-outline" class="text-blue logout" (click)="logout()"></ion-icon>
    </ion-navbar>
</ion-header>

<ion-content bg-light>
    <!-- <div class="tabs height50">
        <ion-segment [(ngModel)]="rideprofile" >
            <ion-segment-button value="about" class="height33">
                {{"about you" | translate}}
            </ion-segment-button>
            <ion-segment-button value="reviews" class="height33">
                {{"account" | translate}}
            </ion-segment-button>
        </ion-segment>
    </div> -->
    <!-- <div class="text-center"> Your Personal Information</div> -->
    <div [ngSwitch]="rideprofile">
        <ion-list no-lines *ngSwitchCase="'about'">
            <ion-row>
                <ion-col col-9>
                    <ion-item style="position: relative;z-index: 2;">
                        <ion-avatar item-start>
                            <img [src]="appConfig.avatar_url">
                        </ion-avatar>
                        <div class="name">
                            <div>{{appConfig.name}}</div>
                            <p>{{appConfig.experience}}</p>
                        </div>
                    </ion-item>
                </ion-col>
                <ion-col col-3>
                    <ion-icon name="md-create" class="text-blue logout center" (click)="editAvatar()"></ion-icon>
                </ion-col>
            </ion-row>
            
            <div class="list-item">Name:</div>
            <div class="list-item">
                <ion-input  class="rounded border-email pl-10" type="text" [(ngModel)]="appConfig.name"></ion-input>
            </div>
            <div class="list-item">Email:</div>
            <div class="list-item">
                <ion-input  class="rounded border-email pl-10" type="Email" [(ngModel)]="appConfig.email"></ion-input>
            </div>
            <div class="list-item">Phone Number:</div>
            <div class="list-item">
                <ion-input  class="rounded border-email pl-10" type="Phone" [(ngModel)]="appConfig.phone"></ion-input>
            </div>
            <div class="list-item">Date of Birth:</div>
            <ion-item style="position: relative; width:100%; padding-left: 10px!important; padding-right: 2px!important">
                <ion-datetime displayFormat=" MM/DD/YYYY" class="rounded border-email pl-10 width-full" placeholder="MM/DD/YYYY" [(ngModel)]="appConfig.birthday"></ion-datetime>
            </ion-item>
            <div class="list-item">Car Details:</div>
            <div class="list-item">
                <ion-textarea class="rounded border-email pl-10 height-100" [(ngModel)]="appConfig.car_details"></ion-textarea>
            </div>
            <div class="list-item">
                <button ion-button full class="bg-blue text-white btn rounded" (click)="onSave()">{{"Save" | translate}}</button>
            </div>
        </ion-list>
    </div>
    <div class="space">&nbsp;</div>
</ion-content>
