page-riderprofile {
    .floatright{
        float:right;
    }
    .notificationavatar{
        width:30px !important;
        height: 30px !important;
    }
    .done{
        float: right;
        position: absolute;
        right: 20px;
        top:20px;
    }
    .flexcenter{
        display: flex;
        align-items: center;
    }
    .bgwhite{
        background-color: white;
    }
    .padmar0{
        padding-left:20px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin:0px !important;
    }
    .tabs {
        border-radius: 5px !important;
        padding-left: 25px;
        padding-right: 25px;
        z-index: 1;
        background-color: #ffffff !important;
        border-radius: 5px !important;
        padding-left:5px !important;
        padding-right:5px !important;
    }
    .height50{
        height:30px !important;
        margin: 10px !important;
        padding: 0px !important;
        background-color: #ffffff !important;
    }
    .height33{
        height:29px !important;
        padding:0px !important;
    }
    .comment-box {
        background: #fcfcfc;
        border: 2px dashed #ddd;
        padding: 5px 10px;
        font-size: 13px;
        border-radius: 5px;
        p {
            font-size:14px !important;
            line-height:24px;
        }
    }
    .icon-lg {
        background: url(../assets/imgs/icons_lg.png) 0 0 no-repeat;
        display: inline-block;
        width: 48px;
        height: 48px;
        margin-left:12px;
    }
    .icon-comment {
        background-position: -50px 0;
    }
    .icon-1 {
        background-position: -0 0;
    }
    .icon-2 {
        background-position: -50px 0;
    }
    .icon-3 {
        background-position: -100px 0;
    }
    .icon-4 {
        background-position: -150px 0;
    }
    .logout{
        float: right !important;
        padding-right: 10px;
        font-size: 32px;
    }
    .height50{
        height:32px !important;
        padding:0px !important;
    }
    .height33{
        height:32px !important;
        padding:0px !important;
    }
    .segment-button{
        border:none !important;
        color:#fff !important;
    }
    .segment-button.segment-activated {
        border-color: none !important;
        background-color: #fff !important;
        color:#651ec6 !important;
    }
    ion-avatar {
        ion-icon {
            font-size:28px;
            color:$text-dark;
            margin-left:8px;
            margin-right:0;
        }
    }
    ion-item {
        padding-bottom: 1.3rem !important;
        padding-top: 2.3rem !important;
        padding-left: 2rem !important;
        padding-right: .5rem !important;
        margin-bottom: 0px !important;
        ion-avatar {
            min-width: 80px !important;
            min-height: 80px !important;
            img {
                min-width: 80px !important;
                min-height: 80px !important;
            }
        }
        .item-inner {
            border-bottom: none !important;
        }
        .name {
            width: calc(100% - 95px);
            display: inline-block;
            h2 {
                font-size: 1.35rem;
                font-weight: 600;
                margin-bottom: 6px;
            }
        }
        .more {
            width: 80px;
            display: inline-block;
            text-align: right;
            h2 {
                font-size: 1.1rem;
                color: $yellow-color;
                margin-bottom: 6px;
            }
            p {
                font-size: 1rem;
                color: $text-light !important;
                font-weight: 500;
            }
        }
        p {
            font-size: 1rem !important;
            color: $text-gray !important;
            font-weight: 400
        }
    }
    .tabs {
        padding-left: 25px;
        padding-right: 25px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
        z-index: 1;
        position: relative;
    }
    ion-segment-button {
        color: $text-dark !important;
        border:none !important;

        &.segment-button {
            font-size: 1.3rem !important;
            line-height: 29px !important;
            font-weight: 600 !important;
            color: #651ec6 !important;
            .badgespan{
                border-radius: 71px;
                width: 20px;
                height: 20px;
                background-color: #651ec6;
                display: inline-block;
                color:#ffffff;
                line-height: 20px;
                margin-left: 10px;
            }
            .notification{
                background-color: #651ec6 !important;
                border-color: #651ec6 !important;
                border-radius: 0px !important;
                border-top-right-radius: 5px !important;
                border-bottom-right-radius: 5px !important;
                color: #ffffff !important;
                font-weight: 600 !important;
            }
            &.segment-activated {
                .badgespan{
                    border-radius: 71px;
                    width: 20px;
                    height: 20px;
                    background-color: #ffffff;
                    display: inline-block;
                    color: #651ec6;
                    line-height: 20px;
                    margin-left: 10px;
                }
                
                background-color: #651ec6 !important;
                border-color: #651ec6 !important;
                border-radius: 5px !important;
                border-top-right-radius: 0px !important;
                border-bottom-right-radius: 0px !important;
                color: #ffffff !important;
                font-weight: 600 !important;
                // color: $theme-color !important;
            }
        }
    }
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
    }
    ion-card-content {
        padding: 15px 30px !important;
        position: relative;
        .ride-detail {
            position: relative;
            margin-bottom: 2rem;
            p {
                font-size: 1.1rem;
                padding-left: 3rem;
                position: relative;
                color: $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                &.detail {
                    font-weight: 600;
                }
                .time {
                    width: 80px;
                    display: inline-block;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 15px;
                background: $text-dark;
                position: absolute;
                left: 4px;
                bottom: 10px;
            }
        }
        .detail-text {
            font-size: 1rem;
            color: $text-light;
            text-transform: none;
            white-space: nowrap;
            h2 {
                color: $theme-color;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 18px;
            }
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    .fix-btn {
        height: 70px;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        .full.btn {
            width: 100%;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
        }
    }
    .space {
        display: block;
        position: relative;
        height: 55px;
    }
    .review {
        &.card {
            margin: 0;
            width: 100%;
            border-bottom: 1px solid #dedede;
            border-radius: 0;
            .card-content {
                padding-top: 0 !important;
            }
            .detail {
                p {
                    font-size: 1.1rem;
                    padding-left: 45px;
                }
            }
            ion-avatar {
                min-width: 40px !important;
                min-height: 40px !important;
                img {
                    min-width: 40px !important;
                    min-height: 40px !important;
                }
            }
        }
        .item {
            margin-bottom: 0;
            padding-bottom: 5px !important;
            padding-top: 10px !important;
            ion-avatar {
                position: relative;
            }
            .item-inner {
                border: none !important;
                h2 {
                    margin: 2px 0;
                    font-size: 1.35rem;
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                p {
                    color: $text-dark;
                    font-size: 1.3rem;
                    ion-icon {
                        color: $text-light;
                        font-size: 1.2rem;
                        margin-right: 1px;
                        &.text-yellow {
                            color: $yellow-color;
                        }
                    }
                }
                ion-note {
                    margin-top: -10px;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .rating-box {
        padding-left: 16px;
        padding-right: 16px;
        p {
            font-size: 1.1rem;
        }
        ion-icon {
            color: $yellow-color;
            position: relative;
            top: 1px;
            margin-right: 1rem;
            float: right;
        }
        span.text-1 {
            display: inline-block;
            width: 35px;
        }
        span.text-2 {
            display: inline-block;
            width: 35px;
            text-align: right;
        }
        span.rate-bar {
            width: calc(100% - 77px);
            display: inline-block;
            position: relative;
            height: 8px;
            background: #eee;
            span {
                min-width: 1px;
                display: block;
                height: 8px;
            }
        }
    }
    .about {
        margin-bottom: 5px;
        padding: 10px 20px;
        .heading {
            font-size: 1.25rem;
            font-weight: 500;
        }
        .ride-detail {
            position: relative;
            margin-bottom: 2rem;
            margin-top: 2rem;
            p {
                font-size: 1.25rem;
                padding-left: 3rem;
                position: relative;
                color: $text-light;
                font-weight: 300;
                small {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $text-dark;
                    display: block;
                    margin-bottom: 5px;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 6px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    display: block;
                    bottom: 0;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 63px;
                background: $text-dark;
                position: absolute;
                left: 4px;
                top: 12px;
            }
        }
        &.info {
            .item {
                padding: 0 !important;
                border-bottom: 0px solid #dedede !important;
                .text-input {
                    font-size: 1.25rem;
                }
                .label {
                    font-size: 1.15rem;
                    color: $text-light;
                }
            }
        }
    }
    ion-navbar{
        div{
            background:white!important;
        }
    }
 
    .float-left{
        float:left;
    }
    .away {
        background: url(../assets/imgs/icons_sm.png) 0 0 no-repeat;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 1px;
        margin-top: 5px;
    }
    .anywhere{
        overflow-wrap:anywhere;
    }
    .text-wrap{
        flex-wrap: wrap;
        display: flex;
        white-space: normal;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .position-relative{
        position:relative;
    }

    .absolute-right{
        position:absolute;
        right:0!important;
        margin-top:-3px!important;
        margin-right:25px!important;
    }

    .color-orange{
        color:#f78b00;
    }

    .border-t-1{
        border-top:1px solid #ddd!important;
        //border-bottom: 1px solid #ddd;
        border-width:1px!important;
    }

    .border-tb-1{
        border-top:1px solid #ddd!important;
        border-bottom: 1px solid #ddd!important;
        border-width:1px!important;
    }

    .car-description-icon{
        background-position: -203px -3px;
    }

    .text-bold{
        font-style:bold;
    }

    ion-avatar{
        position:relative;
        ion-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .hidden{
        display:none;
    }
    .list-item{
        margin: 10px;
        color: #651ec6;
    }
    .height-100{
        height: 100px;
    }
}
