<ion-header class="transparent">
    <ion-navbar>
      
    </ion-navbar>
</ion-header>

<ion-content class="bg-white">
    <h1 class="smart-font">{{"W-"+nWeek  | translate}} {{nDate}} {{"Month-"+nMonth  | translate}} {{nYear}}</h1>
    <ion-list>
        <ion-row bg-white class="height-160">
            <ion-col col-2 text-center>
                <p class="mt-30">{{item.leave_time}}</p>
                <p class="mt-60">{{item.arrive_time}}</p>
            </ion-col>
            <ion-col col-9>
                <div class=" about address">
                    <div class="ride-detail">
                        <p><small>{{item.departure}}</small>
                            <span class="icon-location"></span><span>{{item.departure}}</span><br/><br/>
                            <span class="away away-1 pos-abs-departure"></span>
                            <span class="f-green mt-5">70m from your departure</span></p>
                        <p>
                            <small>{{item.arrival}}</small>
                            <span class="icon-location mt-5"></span><span>{{item.arrival}}</span><br/><br/>
                            <span class="away away-1 pos-abs-arrival"></span>
                            <span class="f-green mt-5">70m from your arrival</span></p>
                    </div>
                </div>
            </ion-col>
            <ion-col col-1>
                <p (click)="onDeparture()"><a class="arraw-forward"><ion-icon name="ios-arrow-forward"></ion-icon></a></p>
                <p (click)="onArrival()"><a class="arraw-forward"><ion-icon name="ios-arrow-forward"></ion-icon></a></p>
            </ion-col>
        </ion-row>
        <ion-item>
            <span class="gray-font">Total price for 1 passenger</span><span class="float-right font-20">${{item.price}}</span>
        </ion-item>
    </ion-list>
    <ion-list class="subscription">
        <ion-row class="border-bottom">
            <ion-col col-9>
                <p><img [hidden]="!item.avatar_url" src="/upload/{{item.avatar_url}}" class="user u1"><a class="profile_link" (click)="driver_profile()">{{item.name}}</a></p>
                <p><a class="contact_link" (click)="contact_driver()">Contact {{item.name}}</a></p>
            </ion-col>
            <ion-col col-2>
                <a (click)="driver_profile()"><ion-icon class="big-icon" name="ios-person-outline"></ion-icon></a>
            </ion-col>
            <ion-col col-1>
                <a  (click)="driver_profile()" class="arraw-forward"><ion-icon name="ios-arrow-forward"></ion-icon></a>
            </ion-col>
        </ion-row>
    </ion-list>
    <ion-list class="subscription">
        <ion-row>
            <ion-col col-1>
                <span class="away lightening mt-5"></span>
            </ion-col>
            <ion-col col-11>
                <p>Instant approval</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-1>
                <span [hidden]="item.passengers<2" class="away passengers mt-5"></span>
            </ion-col>
            <ion-col col-11>
                <p>Max.{{item.passengers}} in the back seats</p>
            </ion-col>
        </ion-row>
    </ion-list>    
    <ion-item>
        <p class="mtb-14"><span class="font-20 f-black ">Passenger</span></p>
    </ion-item>
    <ion-item>
        <button (click)="booking()" block="" ion-button="" class=" mtb-20 radius-30 height-50 disable-hover button button-md button-default button-default-md button-block button-block-md" ng-reflect-block=""><span class="button-inner">Continue</span><div class="button-effect"></div></button>
    </ion-item>
</ion-content>
