page-trip {
    ion-title {
        ion-icon {
            margin-left: auto;
            float: right;
            top: 1px;
            position: relative;
        }
    }
    img.user {
        //display: inline-block;
        width: 50px;
        height: 50px;
        margin-right:8px;
        float:left;
    }
    ion-list {
        padding:0 15px;
        margin:0;
        ion-item {
            border-bottom:none;
        }
    }
    .away {
        background: url(../assets/imgs/icons_sm.png) 0 0 no-repeat;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 1px;
        margin-top: -5px;
    }
    .away-0 {
        background-position: -367px -3px;
    }
    .away-1 {
        background-position: -320px -3px;
    }
    .away-2 {
        background-position: -344px -3px;
    }
    .away.lightening {       
        background-position: -421px -3px;     

    }
    .away.passengers {
        background-position: -395px -3px;
    }
    .subscription {
        p {
            color: $text-gray;
            margin: 5px 0;
            font-size: 18px;
        }
    }
    .list-ios > .item-block:first-child {
        border-top:none;
    }
    .bottom-border {
        border-bottom:2px solid $text-gray;
    }
    .item {
        border-bottom: none;
        margin-bottom: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        .item-inner {
            border: none !important;
            p {
                color: $text-light;
                font-size: 1.3rem;
            }
        }
    }
    
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
    }
    ion-card-content {
        padding: 15px 30px !important;
        position: relative;
        .detail-text {
            font-size: 1rem;
            color: #bfbfbf;
            text-transform: none;
            white-space: nowrap;
            h2 {
                color: $theme-color;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 18px;
            }
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    
    .about {
        margin-bottom: 5px;
        padding: 10px 20px;
        .heading {
            font-size: 1.25rem;
            font-weight: 500;
        }
        .ride-detail {
            position: relative;
            margin-bottom: 2rem;
            margin-top: 2rem;
            .label {
                font-size: 1.1rem;
            }
            p {
                font-size: 1.25rem;
                padding-left: 3rem;
                position: relative;
                color: gray;
                font-weight: 300;
                small {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $text-dark;
                    display: block;
                    margin-bottom: 5px;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 5px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    border: 2px solid $text-dark;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 4px;
                height: 48%;
                background: #0b444a;
                position: absolute;
                left: 4px;
                top: -41px;
                bottom: 0;
                margin: auto;
            }
        }
        &.info {
            .item {
                padding: 0 !important;
                .text-input {
                    font-size: 1.2rem;
                }
            }
            .col {
                padding: 0;
                display: block;
                .select {
                    font-size: 1.2rem;
                    padding-right: 25px;
                }
            }
            ion-icon {
                &.check {
                    position: absolute;
                    z-index: 11;
                    top: 0;
                }
            }
        }
    }
    .arraw-forward {
        margin: 20px 0;
        display: inline-block;
        font-size: 24px;
        color: $text-gray;
    }
    .profile_link {
        display: inline-block;
        font-size: 20px;
        color: $text-dark;
        padding: 15px 0;
    }
    .contact_link {
        display: inline-block;
        padding:20px 0;
        font-size:20px;
        color: $theme-color;
    }
    .border-bottom {
        border-bottom:1px solid $text-gray;
    }
    .big-icon {
        font-size:64px;
        color:$text-gray;
    }
    .float-right{
        float:right;
    }
    .font-20{
        font-size:20px;
    }
    .mt-15{
        margin-top:15px;
    }
    .mt-5{
        margin-top:5px;
    }
    .mt-45{
        margin-top:45px;
    }
    .mt-30{
        margin-top:30px;
    }
    .f-black{
        color: black;
    }
    .f-blue{
        color: #0ebad8;
    }
    .f-green{
        color:green;
    }
    .radius-30{
        border-radius: 30px;
    }
    .height-50{
        height:50px !important;
    }
    .smart-font{
        font-size: 30px;
        margin: 10px 0 1px 20px;
    }
    .ml-5{
        margin-left: 5px;
    }
    .gray-font{
        font-size: 14px;
        color: gray;
    }
    .height-180{
        height:180px;
    }
    .f-gray{
        color:gray;
    }
    .mtb-14{
        margin: 14px 0;
    }
    .mtb-20{
        margin: 20px 0;
    }
    .away-0 {
        background-position: -367px -3px;
    }
    .away-1 {
        background-position: -320px -3px;
    }
    .pos-abs-departure{
        //position: absolute;
        //bottom: 72px;
        //left: 29px;
        float:left;
    }
    .pos-abs-arrival{
        //position: absolute;
        //bottom: 72px;
        //left: 29px;
        float:left;
    }
    .mt-60{
        margin-top:60px;
    }
    .padding-left-25{
        padding-left:25px;
    }
}
