page-myride {
    .avatar-img {
        padding:0;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-left: 10px;
    }
    .chats-icon {
        font-size: 32px;
        margin-right: 12px;
    }
    .floatright {
        float: right;
    }
    p {
        &.text-light {
            padding: 10px 15px 0;
            font-size: 1.2rem;
        }
    }
    .card {
        width:98%;
        margin:auto;
        border-radius:20px;
        margin-top:5px;
        margin-bottom:5px;
        ion-item {
            .name {
                width: calc(100% - 70px);
                display: inline-block;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    ion-icon {
                        margin-left: 5px;
                    }
                }
            }
            .more {
                width: 65px;
                display: inline-block;
                h2 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: $theme-color;
                    display: flex;
                    ion-icon {
                        margin-left: 5px;
                        font-size: 2rem;
                        margin-left: auto;
                        color: $text-dark;
                    }
                }
            }
            p {
                font-size: 1.1rem;
                color:  $text-dark;
                font-weight: 400;
            }
        }
    }
    ion-card-content {
        padding-left: 30px !important;
        position: relative;
        .ride-detail {
            position: relative;
            margin-bottom: 1rem;
            p {
                font-size: 1.2rem;
                padding-left: 43px;
                position: relative;
                color:  $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 20px;
                background:  $text-dark;
                position: absolute;
                left: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .detail-text {
            height: 4.5rem;
            font-size: 1rem;
            color: $theme-color;
            text-transform: none;
            h2 {
                color: $theme-color;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 28px;
            }
        }
        .full.btn {
            float: right;
            margin-right: 5px;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
            height: 32px;
            font-size: 1.1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            .icon {
                font-size: 2rem;
            }
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    .col {
        padding-left: 0;
        padding-right: 0;
    }
    .buy-this-app-class {
		position: fixed;
		right: 0px;
		bottom: 60px;
		z-index: 99;
		background: transparent;
		width: 100%;
		text-align: end;
	  }
	  .button-size{
		height: 40px;
		margin-right: 25px !important;
		margin-left: 25px !important;
		background-color: #f8563a !important;
      }
      ion-navbar{
        div{
            background:white!important;
            padding:0px;
        }
    }
}
