<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <div text-center>
        <h2>So what's your name?</h2>
    </div>
  
    <ion-list no-lines>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input class="rounded border-email pl-10" placeholder="First name" [(ngModel)]="firstname"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input class="rounded border-email pl-10" placeholder="Last name" [(ngModel)]="lastname"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center [ngClass]="{'hide' : firstname==''}">
                <button ion-button class="continue-btn" (click)="continuename(firstname, lastname)">{{"continue" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
    
    
    
    