<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <div text-center>
        <h2>What's your email?</h2>
    </div>
  
    <ion-list no-lines>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="email" class="rounded border-email pl-10" placeholder="Email" [(ngModel)]="email"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <h4><b class="text-color">I don't want to get news,good deals and gifts from<br>  
                        TaggCar.</b></h4>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <h5 class="text-color">When I'm subscribed,I can opt out anytime by contacting<br> 
                        TaggCar or via the link in the newsletters.</h5>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="continueemail(email)">{{"continue" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
    
    
    
    