<ion-header class="transparent">
    <ion-navbar>
        <ion-title>{{"help" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <p class="text-light" padding>{{"choose_issues" | translate}}</p>
    <ion-card>
        <ion-card-header>
            <h1><strong>{{"trips_fare" | translate}}</strong>
                <ion-icon name="ios-arrow-down-outline" class="text-light"></ion-icon>
            </h1>
        </ion-card-header>
        <ion-card-content class="text-light">
            <small>{{"issue_trip" | translate}}</small>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h1><strong>{{"payment" | translate}}</strong>
                <ion-icon name="ios-arrow-down-outline" class="text-light"></ion-icon>
            </h1>
        </ion-card-header>
        <ion-card-content class="text-light">
            <small>{{"prob_paying_fare" | translate}}</small>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h1><strong>{{"app_usability" | translate}}</strong>
                <ion-icon name="ios-arrow-down-outline" class="text-light"></ion-icon>
            </h1>
        </ion-card-header>
        <ion-card-content class="text-light">
            <small>{{"issues_app" | translate}}</small>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <h1><strong>{{"account" | translate}}</strong>
                <ion-icon name="ios-arrow-down-outline" class="text-light"></ion-icon>
            </h1>
        </ion-card-header>
        <ion-card-content class="text-light">
            <small>{{"wont_use_info" | translate}}</small>
        </ion-card-content>
    </ion-card>
</ion-content>
