<ion-header class="transparent">
    <ion-navbar>
        <ion-title text-uppercase>{{"notification" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-item>
        <ion-avatar item-start>
            <img src="assets/imgs/man1.png">
        </ion-avatar>
        <h2><span class="text-theme">Buzz Lightyear</span>&nbsp; {{"approved_req_ride" | translate}}
        </h2>
        <ion-note item-end>22 Feb 2018</ion-note>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="assets/imgs/man2.png">
        </ion-avatar>
        <h2><span class="text-theme">Buzz Lightyear</span>&nbsp; {{"approved_req_ride" | translate}}
        </h2>
        <ion-note item-end>22 Feb 2018</ion-note>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="assets/imgs/man3.png">
        </ion-avatar>
        <h2><span class="text-theme">Buzz Lightyear</span>&nbsp; {{"approved_req_ride" | translate}}
        </h2>
        <ion-note item-end>22 Feb 2018</ion-note>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="assets/imgs/man4.png">
        </ion-avatar>
        <h2><span class="text-theme">Buzz Lightyear</span>&nbsp; {{"approved_req_ride" | translate}}
        </h2>
        <ion-note item-end>22 Feb 2018</ion-note>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="assets/imgs/man5.png">
        </ion-avatar>
        <h2><span class="text-theme">Buzz Lightyear</span>&nbsp; {{"approved_req_ride" | translate}}
        </h2>
        <ion-note item-end>22 Feb 2018</ion-note>
    </ion-item>
</ion-content>
