    <ion-header class="transparent">
        <ion-navbar>
        </ion-navbar>
    </ion-header>    
    <ion-content class="bg-white">
        <div padding text-center>
            <h1>So how many TaggCar passengers can you take?</h1>
        </div>
            
        <ion-row class="paddingTop50per">
            <ion-col col-4>
                <ion-icon (click)="minus()" name="md-remove" class="circle-icon"></ion-icon>
            </ion-col>
            <ion-col col-4 text-center>
                <span class="h1input">{{numberValue}}</span>
            </ion-col>
            <ion-col col-4>
                <ion-icon (click)="plus()" name="md-add" class="circle-icon"></ion-icon>
            </ion-col>            
        </ion-row>
        <ion-row class="mt-20">
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="confirm()">{{"confirm" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-content>
    