<ion-header class="bg-white">
    <ion-navbar>
        <ion-row class="hidden">
            <ion-col col-6>
                <button class="avatar-img" (click)="profile()">
                    <img src="assets/imgs/man3.png">
                </button>
            </ion-col>
            <ion-col col-6 text-right class="logout">
                <ion-icon name="ios-chatbubbles-outline" class="chats-icon" (click)="chats()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header> 
    <ion-content class="bg-white">
        <ion-list>
            <div text-center class="backgroundwhite">
                <h1>This is our recommended price per seat. Is it OK for you?</h1>
            </div>
            <div text-center class="backgroundwhite">
                <h1 class="fontsize50" id="price">${{price}}</h1>
                <ion-row>
                    <ion-col>
                        <ion-item id="inputprice" style="display: none;">
                                <ion-label>$</ion-label>
                                <ion-input type="number" class="rounded border-email pl-10" value={{price}} [(ngModel)]=price></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </div>
           
            <ion-list>
                <ion-row>
                    <ion-col>
                        <button ion-item (click)="continue(price)">
                            <h1 class="text-blue">Continue</h1>
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button ion-item (click)="continueno()">
                            <h1>I don't agree.</h1>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-list>
            
        <div class="space">&nbsp;</div>
    </ion-content>
    