page-vt_popup {
    ion-content {
        background-color: rgba(0, 0, 0, 0.66) !important;
    }

    .cloes_btn {
        padding: 25px;

        ion-icon {
            color: #fff;
            font-size: 2.4rem;
        }
    }

    .card {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: calc(100% - 53px);
        height: fit-content;
        border-radius: 0;
        background: none;
        overflow: hidden;
        box-shadow: none;
        padding: 0 0 28px 0;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 113px);
            background: #fff;
            border-radius: 5px;
        }

        .img_box {
            position: relative;
            z-index: 99;
            margin: auto;
            width: 100%;
            max-width: 275px;
            min-height: 275px;
        }

        .text_box {
            position: relative;
            z-index: 99;
            width: 100%;
            padding: 0 25px;
            top: -23px;

            h2 {
                font-size: 3.2rem;
                font-weight: 700;
                color: #000;
                margin: 0;
                letter-spacing: 0;
                padding-bottom: 18px;
            }

            p {
                font-size: 1.85rem;
                line-height: 22px;
                color: #000;
                font-weight: 400;
                letter-spacing: 0;
            }
        }

        .list {
            position: relative;
            z-index: 99;
            margin: 0;
            padding: 0 25px;

            .item {
                background: #f5f5f5;
                border-radius: 5px;
                padding: 0 17px;
                margin-bottom: 25px;
                min-height: 45px;
                box-shadow: none !important;
                border: none !important;

                .item-inner {
                    padding: 0;
                    box-shadow: none !important;
                    border: none !important;

                    ion-input {
                        .text-input {
                            margin: 0;
                            font-size: 1.4rem;
                            letter-spacing: 0.4px;
                            color: #000;
                            font-weight: 500;
                            width: 100%;
                        }

                        ::-webkit-input-placeholder {
                            color: #b3b3b3;
                            font-weight: 400;
                            font-size: 1.4rem;
                            letter-spacing: 0.4px;
                        }

                        ::-moz-placeholder {
                            color: #b3b3b3;
                            font-weight: 400;
                            font-size: 1.4rem;
                            letter-spacing: 0.4px;
                        }

                        :-ms-input-placeholder {
                            color: #b3b3b3;
                            font-weight: 400;
                            font-size: 1.4rem;
                            letter-spacing: 0.4px;
                        }

                        :-moz-placeholder {
                            color: #b3b3b3;
                            font-weight: 400;
                            font-size: 1.4rem;
                            letter-spacing: 0.4px;
                        }
                    }
                }
            }

            button {
                &[ion-button] {
                    margin: 0;
                    background: linear-gradient(180deg, #f5839d 0%, #ee2d5a 70%);
                    height: 46px;
                    border-radius: 5px;
                    text-transform: unset;
                    font-size: 1.4rem;
                    box-shadow: 0 12px 18px -1px rgba(238, 45, 90, 0.34);
                }
            }
        }
    }
}
