@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong,
li,
* {
    font-family: 'Montserrat', sans-serif;
} 
.scroll-content {
    overflow: hidden;
    overflow-y: auto;
}
$white-color:#ffffff;
$green-color: #088b11;
$theme-color: #651ec6;
$blue-color: #651ec6;
$header-bg: $theme-color;
$header-text: #fff;
$yellow-color: #ffca28;
$white-color: #fff;
$form-bg:#f3f3f3;
$light-color:#f3f3f3;
$text-dark:#0b444a;
$text-light:#bfbfbf;
$text-blue:#651ec6;
$bg-dark:#01afc4;
$bg-light:#f2f2f2;
$text-gray:#8E8E8E;
$bg-gray:#ededed;
//text color css
.text-white {
  color: $white-color;
}
.back-button {
  color: $theme-color;
  padding-left: 10px;
  .ion-ios-arrow-back:before {
    content: "\f27d" !important;
  }
}
.card-border {
  border: 1px solid #9E9E9E;
  border-radius: 5px;
}
.text-theme {
  color: $theme-color;
}
.segment-ios .segment-button {
  background-color: white;
  color:$white-color;
}
.segment-ios .segment-button.segment-activated {
  background-color: $blue-color;
}
.text-dark {
  color:$text-dark ;
}
.text-yellow {
  color: $yellow-color;
}
.text-light {
  color: $text-light;
}
.text-blue {
  color: $text-blue;
}
.bg-theme {
  background: $theme-color;
}
.bg-blue {
  background: $blue-color;
}
.bg-light {
  background: $bg-light;
}
.bg-yellow {
  background: $yellow-color;
}
.bg-white {
  background: $white-color;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
} 
.mt-10 {
  margin-top: 10px;
}
.height-full {
  height: 100%;
}
h1, h2 {
  color:$text-dark;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0 30px 0;
}
.text-right {
  float: right;
}
p, .card p {
  color:$text-dark;
}
ion-card img {
  display: inline;
  width: 60px;
  height: 20px;
  margin-left: 15px;
}
.text-color {
  color: $text-dark;
}
.content h1, .content h2 {
  margin-top:30px;
}
.item-md h1 {
  font-weight:bold;
}
a {
  color:$blue-color;
  font-size:16px;
}
.header-md.bg-white::after {
  background:none;
}
.border-email {
  border: 2px solid #651ec6;
  background-color: #ededed;
}
.tabs-md .tab-button {
  border-top: 2px solid $white-color;
}
.hide {
  display: none;
}
.tab-button[aria-selected=true],
.tab-button[aria-selected=true] .tab-button-icon {
    color: $theme-color !important;
    border-color: $theme-color !important;
}

.tabbar {
    background-color: $white-color !important;
}

.back-button-text {
    display: none;
}

.sub-title {
  padding-left: 15px;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
}
.searchbar {
  background:none;
  .searchbar-search-icon {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 15px;
    color: #fff;
    background-size: 22px;
  }
  .searchbar-input {
    background:$bg-gray !important;
    height:60px;
    line-height:42px;
    left: 20px;
    font-size: 16px;
    padding-left: 50px !important;
    border-radius: 20px;
  }
}
.searchbar-ios {
  padding: 0px 20px;
}
.button-ios.activated {
  background-color: #651ec6;
}
.btn {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    height: 40px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    &.small {
        font-size: 1.2rem;
        height: 35px;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: capitalize;
        ion-icon {
            margin-right: auto;
            font-size: 2rem;
            margin-left: 5px;
        }
        span {
            margin: auto;
        }
    }
}

.rounded {
    border-radius: 13px;
}
.btn-rounded {
  border-radius: 25px;
}
.continue-btn {
  font-size: 16px;
  text-transform: none;
  background-color: $theme-color;
  text-align: center;
  color: $white-color;
  padding: 25px 25px;
  border-radius: 25px;
  font-weight: normal;
  text-shadow: none;
  border: none;
}
//header transparent
.transparent.header {
    background: transparent;
    .toolbar-background {
        background: transparent;
        border: none !important;
    }
    &::after {
        display: none;
    }
}
.transparent.footer {
  background: transparent;
  border: none !important;
  .toolbar-background {
      background: transparent;
      border: none !important;
  }
  &::after {
      display: none;
  }
}

.toolbar-title {
    font-size: 18px !important;
    line-height:32px;
    color:$text-blue;
}

.bg-background-img {
    background: url(../assets/imgs/background.png) no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}

.form {
    background: $form-bg;
    border-radius: 10px;
    overflow: hidden;
    .item {
        border-top: none !important;
    }
    .text-input-wp {
        border: none;
    }
    ion-item {
        padding: 0;
        background: transparent !important;
        &:last-child {
            border-bottom: none !important;
            .item-inner {
                border-bottom: none !important;
            }
        }
        .item-inner {
            padding: 0 !important;
            .input-wrapper {
                padding-left: 16px;
                padding-right: 16px;
                .label {
                    font-size: 1rem;
                    font-weight: 400;
                }
                ion-input {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }
    .input-has-focus {
        box-shadow: none !important;
        .item-inner {
            box-shadow: none !important;
            border-bottom-color: $bg-light !important;
        }
    }
}

//green header inner pages
.header.bg-theme {
    .toolbar-background {
        background: $theme-color !important;
    }
    .text-center {
        text-align: center !important;
    }
    .toolbar-title {
        color: $white-color !important;
    }
}

//tab css
// ion-segment-button {
//     color: $white-color !important;
//     text-transform: unset !important;
//     font-weight: 600 !important;
//     border-color: transparent !important;
//     &.segment-button.segment-activated {
//         border-color: $white-color !important;
//     }
// }

.fix-btn {
    z-index: 999;
}

.space {
    z-index: -1;
}
  ion-navbar>div.toolbar-content>ion-icon{
    float: left;
    margin-left: 15px;
  }

.fix-btn {
    z-index: 999;
    position: unset !important;
}

.space {
    z-index: -1;
}
  page-listride{
    .toolbar-content{
      ion-icon{
        margin: 0 10px;
        float: right;
      }
    }
  }
  page-chats{
    .toolbar-content{
      ion-icon{
        margin-right: 10px;
        float: right;
      }
    }
  }
  page-chatting{
    .fixed-bottom {
      position: unset !important;
    }
  }
  ion-footer{
    ion-toolbar{
      .toolbar-background {
        border: none !important;
        background: transparent;
      }
    }
  }
  .segment-button.segment-activated{
    color: $header-text !important;
  }
[dir="rtl"] body {
  .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
    background-image: url("./assets/imgs/left-arrow.png");
    padding-left: 32px;
    background-position: left 14px center;
    background-position: left calc(14px + constant(safe-area-inset-left)) center;
    background-position: left calc(14px + env(safe-area-inset-left)) center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    /* transform: rotateY(180deg); */
  }
  ion-input input{
    text-align: left !important;
  }
  page-myride{
    .card ion-item .more h2 ion-icon{
      margin-left: unset;
      margin-right: auto;
    }
    ion-card-content {
      padding-right: 30px !important;
      .status{
        left: unset;
        right: 0;
        transform: rotateY(180deg);
      }
      .ride-detail::before{
        left: unset;
        right: 4px;
      }
      .ride-detail p {
        padding-left: unset;
        padding-right: 35px;
        .icon-location{
          right: 0;
          left: unset;
        }
      }
      .full.btn{
        float: left;
      }
    }
  }
  page-chatting {
    .toolbar-content .item .item-inner h2 {
      margin-left: 10px;
      ion-icon {
        margin-left: auto;
        margin-left: unset;
        margin-right: auto;
      }      
    }
  }
  page-editride {
    .search {
      span.search-text {
        text-align: left;
      }
      .card-content {
        padding-right: 40px;  
        .searchbar-input {
          text-align: right;
        }
      }
      .dot{
        left: unset;
        right: 15px;
        &.bg-theme{
          top: 10px;
        }
        &.bg-yellow{
          top: -28px;
        }
      }
    }
    .search::before {
        right: 20px;
        height: 35px;
    }
    .search.search-2::before {
        top: -5px;
    }
  }
  page-listride{
    .toolbar-content{
      ion-icon{
        margin-left: 10px;
        float: left;
      }
    }
    ion-card-content {
      padding-right: 30px !important;
      .status{
        left: unset;
        right: 0;
        transform: rotateY(180deg);
      }
      .ride-detail::before{
        left: unset;
        right: 4px;
      }
      .ride-detail p {
        padding-left: unset;
        padding-right: 40px;
        .icon-location{
          right: 0;
          left: unset;
        }
      }
      .full.btn{
        float: left;
      }
    }
  }
  page-filter{
    ion-select{
      padding-right: 16px;
      padding-left: 0px;
      .select-icon{
        margin-right: 7px;
      }
    }
  }
  page-chats{
    .toolbar-content{
      ion-icon{
        margin-left: 10px;
        float: left;
      }
    }
    .item .item-inner ion-note span{
      margin-right: 7px;
    }
  }
  page-chatting{
    .fixed-bottom {
      position: unset !important;
      .list {
        .text-input{
          text-align: right !important;
        }
        .icon {
          transform: rotateY(180deg);
        }        
      }
    }
  }
  page-profile{
    .address {
      .heading{
        padding-right: 0;
      }
      .ride-detail::before {
        right: 4px;
      }      
      p{
        padding-right: 3rem;
      }
      .icon-location{
        right: 0;
      }
    }
    ion-input input {
        text-align: right !important;
    }
    .about{
      .col .select {
          // font-size: 1.2rem;
          padding-left: 25px;
          padding-right: 0 !important;
      }
      .item-inner{
        padding-right: 0;
        .input-wrapper{
          position: relative;
          padding-top: 30px;
          ion-label{
            position: absolute;
            right: -25px;
            top: 0;
            width: auto;
          }
        }      
      }
    }
  }
  page-riderprofile{
    .about {
      .item-inner{
        padding-right: 0;
        .input-wrapper{
          position: relative;
          padding-top: 30px;
          ion-label{
            position: absolute;
            right: -25px;
            top: 0;
            width: auto;
          }
        }      
      }
      .heading{
        padding-right: 0;
      }
      .ride-detail::before {
        right: 4px;
      }      
      p{
        padding-right: 3rem;
      }
      .icon-location{
        right: 0;
      }
    }
    // .about{
    //   .col .select {
    //       padding-left: 25px;
    //       padding-right: 0 !important;
    //   }
      
    // }
    ion-input input {
        text-align: right !important;
    }
  }
  page-confirmride{
    ion-card-content {
      padding-right: 30px !important;
      .status{
        left: unset;
        right: 0;
        transform: rotateY(180deg);
      }
      .ride-detail::before{
        left: unset;
        right: 5px;
      }
      .ride-detail {
        h6,p{
          padding-right: 45px;
        }
        p {
          padding-left: unset;
          // padding-right: 20px;
          .icon-location{
            right: 0;
            left: unset;
          }
          small ion-icon{
            float: left;
          }
        }        
      }
      .full.btn{
        float: left;
      }
    }
  }
  page-confirmpopup{
    ion-card-content {
      padding-right: 30px !important;
      .status{
        left: unset;
        right: 0;
        transform: rotateY(180deg);
      }
      .ride-detail::before{
        left: unset;
        right: 5px;
        height: 50px;
      }
      .ride-detail {
        h6,p{
          padding-right: 45px;
        }
        p {
          padding-left: unset;
          // padding-right: 20px;
          .icon-location{
            right: 0;
            left: unset;
          }
          small ion-icon{
            float: left;
          }
        }        
      }
      .full.btn{
        float: left;
      }
    }
  }
  page-help {
    ion-card-header h1 ion-icon {
      float: left;
    }    
  }
  page-signup{
    .click-img {
      padding-right: 0;
      padding-left: 5px;
    }
  }
  ion-navbar>div.toolbar-content>ion-icon{
    float: right;
    margin-right: 15px;
  }
  [float-end], [float-right] {
    float: left !important;
  }
  .menu-inner {
      right: 0;
      left: auto;
  }
  ion-title {
    float:left;
  }
  .toolbar-ios ion-title {
      padding: 0 16px 1px !important;
  }
  .toolbar-title {
    padding-right: 30px !important;
    .icon-box {
        position: relative;
        margin-left: unset;
        margin-right: auto;
    }
  }
  .form ion-list ion-item .text-input,
  .form ion-list .item-inner .text-input {
      text-align: right;
  }
  ion-header {
      .toolbar-title.toolbar-title-md span {
          left: -1px;
          right: unset;
      }
      .back,
      .back-button {
          transform: rotate(180deg);
      }
  }
  .fs-15 {
    font-size: 15px;
  }
}
.width-full{
  width:100%;
}

.height-full{
  height: 100%;
}

.bg-white{
  background: white;
}