<ion-header class="">
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-item>
        <ion-avatar item-start>
            <img src="assets/imgs/face-1.jpg">
        </ion-avatar>
        <div class="name">
            <h2>Thierry 45(y/n)</h2>
        </div>
    </ion-item>
    <div class = "item spanblue">
                    Overall experience
    </div>
    <ion-list>
        <button ion-item (click)="reviews()">
            <ion-avatar item-start>
                <ion-icon name="ios-star" class="avatar_black"></ion-icon>
            </ion-avatar>
            <div class = "card">
                    <div class = "item">
                       Overall experience
                    </div>
                    <div class = "item item-text-wrap">
                       Outsanding
                    </div>
                 </div>
        </button>
        <button ion-item (click)="notification()">
            <ion-avatar item-start>
                <ion-icon name="md-notifications" class="avatar_black"></ion-icon>
            </ion-avatar>
             {{"notification" | translate}}
        </button>
        <button ion-item (click)="terms()">
            <ion-avatar item-start >
                <ion-icon name="md-paper" class="avatar_black"></ion-icon>
            </ion-avatar>
            {{"t&c" | translate}}
        </button>
    </ion-list>
    <ion-list no-lines>
            <button ion-button full class="bg-theme text-white btn rounded radius_button" (click)="tabs()">{{"Preview my rating" | translate}}</button>
    </ion-list>
</ion-content>