signup-role {
    .avatar-img {
        color: #444;
        background: none;
        padding: 20px 36px;
        height: 140px;
        border: 2px solid #777;
        border-radius: 12px;
    }
    .avatar-img .icon {
        font-size:72px;
    }
    .avatar-img p {
        font-size:13px;
        padding:6px 0 0;
        margin:0;
    }
    .avatar-img.active {
        color: #651ec6;
        border: 2px solid #651ec6;
    }
    .margin-bottom-20 {
        margin-bottom:20px;
    }
    .option-address {
        font-size: 1.1rem;
        font-weight: 500;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &::after,
        &::before {
            content: '';
            display: block;
            width: 50px;
            position: absolute;
            height: 1px;
            background: #eee;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &::after {
            left: auto;
            right: 0;
        }
    }
    .login {
        position: fixed;
        bottom: -10px;
        width: 100%;
        padding: 25px;
        height: 355px
    }
    .logo {
        margin: 0% auto;
        height: calc(50vh - 70px);
        position: relative;
        img {
            position: absolute;
            width: 144px;
            height: 144px;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    .bg-background-img {
        background-position-y: -100px;
    }
    button {
        img {
            width: 24px;
        }
    }
}
