<ion-header>
    <ion-navbar>
        <ion-title class="text-center">{{"Role" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <div text-center>
        <h2>What type do you like to sign up with?</h2>
    </div>
    <ion-row class="margin-bottom-20">
        <ion-col col-6 text-center>
            <button class="avatar-img" (click)="driver()" [ngClass]="{'active' : role=='D'}">
                <ion-icon name="ios-car"></ion-icon>
                <p>Driver</p>
            </button>
        </ion-col>
        <ion-col col-6 text-center>
            <button class="avatar-img" (click)="passenger()" [ngClass]="{'active' : role=='P'}">
                <ion-icon name="ios-person"></ion-icon>
                <p>Passenger</p>
            </button>
        </ion-col>
    </ion-row>  
    <ion-list class="pr-10">
        <ion-row>
            <ion-col text-center id="role" [ngClass]="{'hide' : role==''}">
                <button ion-button class="continue-btn" (click)="continue()">{{"Continue" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
    
    
    
    