page-mychatting {
    h1,h2{
        margin:5px 0 0 0  !important;
    }
    p{
        margin:0px !important;
    }
    img{
        width:30px !important;
        height:30px !important;
        text-align: center !important;
        object-fit: contain;
    }
    .icon-flex {
        display:flex;
        img {
            margin-right:8px;
        }
    }
    .l-padding-10 {
        padding-left:40px;
    }
    .r-padding-10 {
        padding-right:10px;
    }
    ion-label{
       margin:0px !important; 
    }
    .floatleft{
        float: left !important;
    }
    .floatright{
        float: right !important;
    }
    .d-felx{
        // display: flex;
        display:-webkit-flex;
        align-items: center;
    }
    .padle10{
        padding-left: 10px !important;
    }
    .icon_img{
        justify-items: center;
    }
    .name{
        color: #651ec6 !important;
        font-size: 20px !important;
    }
    .item{
        padding:0px !important;
    }
    .padmar0{
        padding:0px !important;
        margin:0px !important;
    }
    .font13{
        font-size: 15px !important;
        align-items: center;
    }
    .font20{
        font-size: 17px !important;
        align-items: center;
    }
    .font23{
        font-size: 20px !important;
        color: #000;
    }
    .font30{
        font-size: 28px !important;
        color: #000;
        margin-bottom: 10px !important;
    }
    .arraw_img{
        width:20px !important;
    }
    .messagewdith{
        margin-top: 20px !important;
        width:100% !important
    }
    .message_box{
        width:100%;
        display: flex;
        align-items: center;
    }
    .message_name{
        float: left !important;
    }
    .message_date{
        margin-left:20px;
        float: right !important;
    }
    .list-md{
        margin:0px !important;
    }
    .message_detail{
        width:70% !important;
        height:20px !important;
        margin-left:15px;
    }
    .avatar_img{
        width:50px !important;
        height:50px !important;
        float: right;
        text-align: center;
    }
    .grey_message{
        background-color: #ededed !important;
        margin-left: 10px !important;
        width:75% !important;     
        padding: 15px !important;
        border-radius: 10px !important;   
        color:black;
        float: left;
        font-weight: 501;
    }
    .green_message{
        background-color: #7cce73 !important;
        width:100% !important;  
        border-radius: 10px !important;
        padding: 15px !important;
    }
    .green_messagebox{
        width:80% !important;
    }
    .green_message_txt{
        font-weight: 501;
        color:white;
    }
    .item-inner{
        padding-right: 0px !important;
    }
    .borderbox{
        border:1px solid #ddd;
        padding: 5px !important;
        margin:0px 10px 0px 10px  !important;
    }
    .tabs{
        border:1px solid !important;
        color:#651ec6;
        border-radius: 5px !important;
        margin-left:10px !important;
        margin-right:10px !important;
        background-color: #651ec6 !important;
    }
    .comment-box {
        border: 2px dashed #ddd;
        padding: 5px 10px;
        font-size: 13px;
        border-radius: 5px;
        p {
            font-size:14px !important;
            line-height:24px;
        }
    }
    // .icon-md {
    //     background: url(../assets/imgs/icons_lg.png) 0 0 no-repeat;
    //     display: inline-block;
    //     width: 48px;
    //     height: 48px;
    //     margin-left:12px;
    // }
    .icon-comment {
        background-position: -50px 0;
    }
    .icon-1 {
        background-position: -0 0;
    }
    .icon-2 {
        background-position: -50px 0;
    }
    .icon-3 {
        background-position: -100px 0;
    }
    .icon-4 {
        background-position: -150px 0;
    }
    .logout{
        float: right !important;
        padding-right: 10px;
        font-size: 32px;
    }
    .height50{
        height:35px !important;
        padding:0px !important;
    }
    .height33{
        height:32px !important;
        padding:0px !important;
    }
    .segment-button{
        border:none !important;
        color:#fff !important;
    }
    .segment-button.segment-activated {
        border-color: none !important;
        background-color: #fff !important;
        color:#651ec6 !important;
    }
    ion-avatar {
        ion-icon {
            font-size:28px;
            color:$text-dark;
            margin-left:8px;
            margin-right:0;
        }
    }
    ion-item {
        padding-bottom: 1.3rem !important;
        padding-top: 2.3rem !important;
        padding-left: 2rem !important;
        padding-right: .5rem !important;
        margin-bottom: 0px !important;
        ion-avatar {
            min-width: 42px !important;
            min-height: 42px !important;
            img {
                min-width: 42px !important;
                min-height: 42px !important;
            }
        }
        .item-inner {
            border-bottom: none !important;
        }
        .name {
            width: calc(100% - 95px);
            display: inline-block;
            h2 {
                font-size: 1.35rem;
                font-weight: 600;
                margin-bottom: 6px;
            }
        }
        .more {
            width: 80px;
            display: inline-block;
            text-align: right;
            h2 {
                font-size: 1.1rem;
                color: $yellow-color;
                margin-bottom: 6px;
            }
            p {
                font-size: 1rem;
                color: $text-light !important;
                font-weight: 500;
            }
        }
        p {
            font-size: 1rem !important;
            color: $text-gray !important;
            font-weight: 400
        }
    }
    .tabs {
        padding-left: 25px;
        padding-right: 25px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
        z-index: 1;
        position: relative;
    }
    ion-segment-button {
        color: $text-dark !important;
        &.segment-button {
            font-size: 1.5rem !important;
            &.segment-activated {
                border-color: $theme-color !important;
                // color: $theme-color !important;
            }
        }
    }
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
    }
    ion-card-content {
        padding: 15px 30px !important;
        position: relative;
        .ride-detail {
            position: relative;
            margin-bottom: 2rem;
            p {
                font-size: 1.1rem;
                padding-left: 3rem;
                position: relative;
                color: $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                &.detail {
                    font-weight: 600;
                }
                .time {
                    width: 80px;
                    display: inline-block;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 15px;
                background: $text-dark;
                position: absolute;
                left: 4px;
                bottom: 10px;
            }
        }
        .detail-text {
            font-size: 1rem;
            color: $text-light;
            text-transform: none;
            white-space: nowrap;
            h2 {
                color: $theme-color;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 18px;
            }
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    .fix-btn {
        height: 70px;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        .full.btn {
            width: 100%;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
        }
    }
    .space {
        display: block;
        position: relative;
        height: 55px;
    }
    .review {
        &.card {
            margin: 0;
            width: 100%;
            border-bottom: 1px solid #dedede;
            border-radius: 0;
            .card-content {
                padding-top: 0 !important;
            }
            .detail {
                p {
                    font-size: 1.1rem;
                    padding-left: 45px;
                }
            }
            ion-avatar {
                min-width: 40px !important;
                min-height: 40px !important;
                img {
                    min-width: 40px !important;
                    min-height: 40px !important;
                }
            }
        }
        .item {
            margin-bottom: 0;
            padding-bottom: 5px !important;
            padding-top: 10px !important;
            ion-avatar {
                position: relative;
            }
            .item-inner {
                border: none !important;
                h2 {
                    margin: 2px 0;
                    font-size: 1.35rem;
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                p {
                    color: $text-dark;
                    font-size: 1.3rem;
                    ion-icon {
                        color: $text-light;
                        font-size: 1.2rem;
                        margin-right: 1px;
                        &.text-yellow {
                            color: $yellow-color;
                        }
                    }
                }
                ion-note {
                    margin-top: -10px;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .rating-box {
        padding-left: 16px;
        padding-right: 16px;
        p {
            font-size: 1.1rem;
        }
        ion-icon {
            color: $yellow-color;
            position: relative;
            top: 1px;
            margin-right: 1rem;
            float: right;
        }
        span.text-1 {
            display: inline-block;
            width: 35px;
        }
        span.text-2 {
            display: inline-block;
            width: 35px;
            text-align: right;
        }
        span.rate-bar {
            width: calc(100% - 77px);
            display: inline-block;
            position: relative;
            height: 8px;
            background: #eee;
            span {
                min-width: 1px;
                display: block;
                height: 8px;
            }
        }
    }
    .about {
        margin-bottom: 5px;
        padding: 10px 20px;
        .heading {
            font-size: 1.25rem;
            font-weight: 500;
        }
        .ride-detail {
            position: relative;
            margin-bottom: 2rem;
            margin-top: 2rem;
            p {
                font-size: 1.25rem;
                padding-left: 3rem;
                position: relative;
                color: $text-light;
                font-weight: 300;
                small {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $text-dark;
                    display: block;
                    margin-bottom: 5px;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 6px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    display: block;
                    bottom: 0;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 63px;
                background: $text-dark;
                position: absolute;
                left: 4px;
                top: 12px;
            }
        }
        &.info {
            .item {
                padding: 0 !important;
                border-bottom: 0px solid #dedede !important;
                .text-input {
                    font-size: 1.25rem;
                }
                .label {
                    font-size: 1.15rem;
                    color: $text-light;
                }
            }
        }
    }
    .margin-auto{
        margin:auto;
    }
    .display-flex{
        display:flex;
    }
    .mt-5{
        margin-top:5px;
    }

    .mt-25{
        margin-top:25px;
    }
    .fit-content{
        width:fit-content;
    }
    .float-right{
        float:right;
        margin-top: -6px;
        margin-left: 25px;
    }
    .arrow-right{
        margin-left:-2px;
        width: 0; 
        height: 0; 
        border-top: 10px solid #ededed;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        
        border-left: 10px solid #ededed;
    }

    .arrow-left{
        margin-right:-2px;
        width: 0; 
        height: 0; 
        border-top: 10px solid #7cce73;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        
        border-right: 10px solid #7cce73;
    }

    ion-input{
        border-radius: 10px;
        border: 2px solid #ededed;
        margin: 8px;
    }

    .mg-10{
        margin:10px;
    }
}
