<ion-header class="transparent">
        <ion-navbar>
            <p>{{config.opp.name}}</p>
            
        </ion-navbar>

        <div class="borderbox">
            <ion-item style="position: relative;z-index: 2;">
                    <ion-avatar item-start>
                        <img [src]="avatarPrefix + config.opp.avatar_url">
                    </ion-avatar>
                    <div class="row">
                        <span class="font20">{{config.opp.name}}</span>
                        <!-- <span class="font13">60 y/n</span> -->
                    </div>
                    <p class="font13">⭐4.7/5 (62 rating)</p>
                    <ion-note item-end>
                        <img src="assets/imgs/pair.png">
                        <img src="assets/imgs/lightning.png">
                    </ion-note>
                </ion-item>
          </div>
          <div padding text-center ion-item>
            <div class = "row" padding> 
                    <div class = "col icon-flex">
                        <div class="margin-auto display-flex">
                            <img src="assets/imgs/phone.png">
                            <span class="name mt-5">Call</span>
                        </div>
                    </div>
                <div class = "col icon-flex">
                    <div class = "col icon-flex">
                        <div class="margin-auto display-flex">
                            <img src="assets/imgs/message.png">
                            <span class="name mt-5">SMS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
</ion-header>
<ion-content id="content" #content>
    <!-- <div class="borderbox">
        <ion-item (click)="message()">
            <h1 class="font30 padle10">09:00</h1>
            <h6 class="font20 padle10">Amsterdam >> Roune</h6>
            <p class="font13 padle10">Tomorrow 09:00</p>
            <ion-note item-end><span class="font23">$37.00</span><span class="time">/seat</span></ion-note>
        </ion-item>
    </div> -->
   
    <ion-list>
        
   
    <div class="margin-auto fit-content mt-25">
        <span class="p-top-10">Messages may be moderated.</span>
        <img class="float-right" src="assets/imgs/gamtan.png">
    </div>  
    <div class="">
        <div class="padmar0" *ngFor="let item of msgList">
            <div class="messagewdith" *ngIf="item.sender != myid">
                <div class="message_detail">    
                    <p class="message_name">{{opp.name}}</p>
                    <p class="message_date">{{item.msg_date}}</p>
                </div>
                <div class="message_box">
                    <div class="grey_message" item-start>
                        <p class="message_txt">{{item.content}}</p>
                    </div>
                    <div class="arrow-right"></div>
                    <!-- <img src="assets/imgs/grey_arraw.png" class="arraw_img"> -->
                    <div class="avatar_img" item-end text-center>
                        <img [src]="avatarPrefix + opp.avatar_url" class="avatar_img">
                    </div>
                </div>
                <!-- <div class="message_detail">    
                    <p class="name font13 message_date">report</p>
                </div>  -->
            </div>

            <div class="messagewdith" *ngIf="item.sender == myid">
                <div class="message_detail">    
                    <p class="message_date">{{item.msg_date}}</p>
                </div>
                <div class="message_box green_messagebox">
                    <div class="arrow-left"></div>
                    <!-- <div class="arrow-left"></div> -->
                    <div class="green_message" item-start>
                        <p class="green_message_txt">{{item.content}}</p>
                    </div>
                </div>
                <div class="message_detail">    
                    <p class="message_date">Delivered</p>
                </div> 
            </div>
        </div>
    </div>
    </ion-list>
    <div class="space">&nbsp;</div>
</ion-content>
<ion-footer>
    <div class="row d-felx">
        <ion-input type="text" placeholder="Type your Message" class="floatleft" [(ngModel)]="msgSending"></ion-input>
        <span class="floatright name mg-10" (click)="onSend()">Send</span>
    </div>
</ion-footer>
      
