<ion-header class="transparent">
    <ion-navbar>
        <ion-title>{{sub_title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <!-- <div [innerHTML]= "sub_title" class="sub-title"></div> -->
    <div id="map" class="map" style="height:100%">    </div>
    <!-- <img src="assets/imgs/mapbg.jpg" class="map"> -->
    <!-- <img src="assets/imgs/man1.png" class="user u1">
    <img src="assets/imgs/man2.png" class="user u2">
    <img src="assets/imgs/man3.png" class="user u3"> -->
    <!-- <span class="dot bg-theme pickup"></span>
    <span class="dot bg-yellow drop"></span> -->
    <!-- <button ion-button class="continue-btn bottom-btn" (click)="continue()">{{"continue" | translate}}</button> -->
</ion-content>
