<ion-header class="bgwhite">
        <ion-navbar>
            <a href="#" class="floatright done">Done</a>
            <p class="d-flex justify-content-center"><a href="#" class="colorblack padmar0">Inbox</a></p>
        </ion-navbar>
    </ion-header>   
<ion-content class="bg-light">        
    <div class="tabs height50">
        <ion-segment [(ngModel)]="rideprofile" >
            <ion-segment-button value="about" class="height33">
                {{"Messages" | translate}}<span class="badgespan" *ngIf="unreads > 0">{{unreads}}</span>
            </ion-segment-button>
            <ion-segment-button value="reviews" class="height33">
                {{"Notifications" | translate}}<span class="badgespan">3</span>
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="rideprofile">
        <ion-list *ngSwitchCase="'about'">
            <div *ngFor="let item of userList">
                <ion-item  (click)="mychatting(item)" class="padmar0" >
                        <ion-avatar item-start>
                            <img [src]="avatarPrefix +  item.avatar_url" class="notificationavatar">
                        </ion-avatar>
                        <h2 class="text-theme">{{item.name}}
                           <span class="badgespan_list" *ngIf="item.unreads > 0">{{item.unreads}}</span>
                        </h2>
                        <!-- <p>Avez-vous une voiture Erick ?</p> -->
                </ion-item>
            </div>
                    <!-- repeat -->
                <!-- <ion-item (click)="mychatting()" class="padmar0">
                    <ion-avatar item-start>
                        <img src="assets/imgs/man1.png">
                    </ion-avatar>
                    <h2>Gerrt</h2>
                    <h2>Amsterdam >> Roune</h2>
                    <p>Tomorrow 09:00</p>
                    <ion-note item-end>Ride on<span class="time">1:12 pm</span></ion-note>
                </ion-item>
                <ion-item (click)="mychatting()" class="padmar0">
                        <ion-avatar item-start>
                            <img src="assets/imgs/man2.png">
                        </ion-avatar>
                        <h2>Valerier</h2>
                        <h2>Washington sq Park?</h2>
                        <p>Tomorrow 09:00</p>
                        <ion-note item-end>Ride on<span class="time">1:12 pm</span></ion-note>
                </ion-item>
                <ion-item (click)="mychatting()" class="padmar0">
                    <ion-avatar item-start>
                        <img src="assets/imgs/man3.png" >
                    </ion-avatar>
                    <h2>Thirerry</h2>
                    <h2>Washington sq Park?</h2>
                    <p>Tomorrow 09:00</p>
                    <ion-note item-end>Ride on<span class="time">1:12 pm</span></ion-note>
                </ion-item>
                <ion-item (click)="mychatting()" class="padmar0">
                    <ion-avatar item-start>
                        <img src="assets/imgs/man4.png">
                    </ion-avatar>
                    <h2>Alrik</h2>
                    <h2>Washington sq Park?</h2>
                    <p>Tomorrow 09:00</p>
                    <ion-note item-end>Ride on<span class="time">1:12 pm</span></ion-note>
                </ion-item> -->
        </ion-list>
        <ion-list *ngSwitchCase="'reviews'" class="notificationsegment">
                <ion-item (click)="message()" class="padmar0"> 
                        <ion-avatar item-start class="flexcenter">
                            <ion-icon name="ios-star" class="avatar_black"></ion-icon>
                        </ion-avatar>
                        <h2>TaggCar</h2>
                        <p>Avez-vous une voiture Erick ?</p>
                        <ion-note item-end class="flexcenter"><span class="time">*</span></ion-note>
                </ion-item>
                    <!-- repeat -->
                <ion-item (click)="message()" class="padmar0">
                    <ion-avatar item-start class="flexcenter">
                        <ion-icon name="ios-star" class="avatar_black"></ion-icon>
                    </ion-avatar>
                    <h2>Gerrt</h2>
                    <h2>Amsterdam >> Roune</h2>
                    <p>Tomorrow 09:00</p>
                    <ion-note item-end text-center class="flexcenter"><span class="time">*</span></ion-note>
                </ion-item>
        </ion-list>
    </div>
    <div class="space">&nbsp;</div>
</ion-content>
