<ion-header class="transparent">
    <ion-navbar>        
    </ion-navbar>
</ion-header>

<ion-content>
    <div text-center padding>
        <h2>Where are you heading?</h2>
    </div>
    <div class="searchbox">
        <ion-searchbar (ionInput)="getItems($event)" autocorrect="off" [(ngModel)]="to"></ion-searchbar>
        <ion-list *ngIf="showList">
            <ion-item *ngFor="let item of items" (click)="selectItem(item)">
                {{ item.location }}
            </ion-item>
        </ion-list>
    </div>
    <ion-list no-lines class="mt-10">
        <ion-row>
            <button ion-item (click)="currentlocation()">
                <ion-icon name="md-locate"></ion-icon>
                <span class="text-color pl-10"><b>{{"Use current location" | translate}}</b></span>
            </button>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="confirm()">{{"Confirm" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>



