page-search {
    .bg-white {
        background:#fff;
    }
    ion-card img.user {
        display: block;
        width: 50px;
        height: 50px;
        margin-top: -15px;
    }
    .toolbar {
        .toolbar-background-md {
            //background:#fff;
        }
        margin: 10px 20px;
        width: 90%;
        border-radius: 16px;
        p {
            margin: 4px 0;
        }
    }
    .mt-40 {
        margin-top:40px;
    }
    .scroll-content {
        padding: 0 20px;
    }
    .away {
        background: url(../assets/imgs/icons_sm.png) 0 0 no-repeat;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 1px;
    }
    .away-0 {
        background-position: -367px -3px;
    }
    .away-1 {
        background-position: -320px -3px;
    }
    .away-2 {
        background-position: -344px -3px;
    }
    .lightening {       
        background-position: -421px -3px;        
    }
    .passengers {
        background-position: -395px -3px;
    }
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-radius:16px;
        box-shadow: none;
        border:1px solid $bg-gray;
        .name {
            width: calc(100% - 70px);
            display: inline-block;
            h2 {
                font-size: 1.3rem;
                font-weight: 600;
                ion-icon {
                    margin-left: 5px;
                }
            }
        }
        .more {
            font-size: 18px;
            font-weight: bold;
            color:$text-dark;
        }
        p {
            font-size: 1.4rem;
            color:$text-dark;
            font-weight: 400;
        }
    }
    ion-card-content {
        position: relative;
        padding:10px;
        .ride-detail {
            position: relative;
            margin-bottom: 1rem;
            p {
                font-size: 1.2rem;
                padding-left: 18px;
                position: relative;
                color: $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                .time {
                    width: 70px;
                    display: inline-block;
                    text-align: center;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 5px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    border: 2px solid $text-dark;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 4px;
                height: 67%;
                background: $text-dark;
                position: absolute;
                left: 4px;
                top: 0px;
                bottom: 0;
                margin: auto;
            }
        }
        .detail-text {
            color: $text-dark;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
        }
        .full.btn {
            float: right;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
            height: 35px;
            font-size: 1.2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    .col {
        padding-left: 0;
        padding-right: 0;
    }
    .buy-this-app-class {
		position: fixed;
		right: 0px;
		bottom: 60px;
		z-index: 99;
		background: transparent;
		width: 100%;
		text-align: end;
	  }
	  .button-size{
		height: 40px;
		margin-right: 25px !important;
		margin-left: 25px !important;
		background-color: #f8563a !important;
      }
      .f-white{
            color:white;
      }
      .float-right{
        float: right;
      }
      .fs-25{
          font-size:25px !important;
      }
      .fs-15{
          font-size:15px !important;
      }
      .mt-3{
          margin-top:3px;
      }
      .mt-10{
          margin-top:10px;
      }
      .mt-9{
          margin-top:9px;
      }
      .mt-15{
          margin-top:15px;
      }
      
      .mt-0{
          margin-top:0px;
      }
      .pos-abs{
        position: absolute;
        bottom: -28px;
        left: 16px;
      }
    ion-navbar{
        background: gray;
    }
}
