<ion-header class="bg-white mt-10">
    <ion-navbar>                           
        <p class="text-dark" [hidden]="!search.from && !search.to">{{search.from}} -> {{search.to}}</p>
        <p class="text-light"><span [hidden]="true">{{"W-"+search.nWeek  | translate}} {{search.nDate}} {{"Month-"+search.nMonth  | translate}},</span> {{search.pcount}} passengers</p>
    </ion-navbar>    
</ion-header>
<ion-content class="bg-white">
    <h1 *ngIf="items && items.length>0">{{items.length}} Rides</h1>
    <ion-list>
        <ion-card *ngFor="let item of items" (click)="Trip(item)">
            <ion-card-content>
                <ion-row>
                    <ion-col col-3>
                        <div>
                            <p class="fs-15">{{item.leave_time}}<br/></p>
                            <p class="fs-15 mt-40">{{item.arrive_time}}</p>
                        </div>
                    </ion-col>
                    <ion-col col-5>
                        <div class="ride-detail">
                            <p class="fs-15">
                                <span class="icon-location "></span> {{item.departure}} <br> <span class="away away-1"></span><span class="away away-2"></span><span class="away away-0"></span>
                            </p>
                            <p class="fs-15 mt-9">
                                <span class="icon-location"></span>{{item.arrival}}
                            </p>
                            <div class="pos-abs">
                                <span class="away away-1"></span><span class="away away-2"></span><span class="away away-0"></span>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col col-4 text-right>
                        <span class="more">${{item.price}}</span>
                    </ion-col>
                </ion-row>
                <ion-row class="mt-15">
                    <ion-col col-3>
                        <img [hidden]="!item.avatar_url" src="/upload/{{item.avatar_url}}" class="user u1">                      
                    </ion-col>
                    <ion-col col-5 class="detail-text">
                        {{item.name}} <ion-icon name="ios-star" role="img" class="icon icon-md ion-ios-star" aria-label="star" ng-reflect-name="ios-star"></ion-icon> {{item.rating}}
                    </ion-col>
                    <ion-col text-right>
                        <span [hidden]="item.passengers<2" class="away passengers"></span><span class="away lightening"></span>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>        
    </ion-list>
</ion-content>
