page-done {
    .float-right{
        float:right;
    }
    .avatar-img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-left: 10px;
    }
    .chats-icon {
        font-size: 32px;
        margin-right: 12px;
    }
    .backgroundwhite{
        background-color: #ffffff;
    }
    .fontsize50{
        font-size: 50px !important;
    }
    .paddingtop30{
        padding:15px !important;
        font-size: 32px !important;
    }
    ion-item {
        padding-bottom: 1.3rem !important;
        padding-top: 2.3rem !important;
        padding-left: 2rem !important;
        padding-right: .5rem !important;
        margin-bottom: 0px !important;
        ion-avatar {
            min-width: 80px !important;
            min-height: 80px !important;
            img {
                min-width: 80px !important;
                min-height: 80px !important;
            }
        }
        .item-inner {
            border-bottom: none !important;
        }
        .name {
            width: calc(100% - 95px);
            display: inline-block;
            h2 {
                font-size: 1.35rem;
                font-weight: 600;
                margin-bottom: 6px;
            }
        }
        .more {
            width: 80px;
            display: inline-block;
            text-align: right;
            h2 {
                font-size: 1.1rem;
                color: $yellow-color;
                margin-bottom: 6px;
            }
            p {
                font-size: 1rem;
                color: $text-light !important;
                font-weight: 500;
            }
        }
        p {
            font-size: 1rem !important;
            // color: $text-gray !important;
            font-weight: 400
        }
    }
    .tabs {
        padding-left: 25px;
        padding-right: 25px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
        z-index: 1;
        background-color: #ffffff !important;
        position: relative;
    }
    ion-segment-button {
        color: $text-dark !important;
        border:none !important;

        &.segment-button {
            font-size: 1.5rem !important;
            &.segment-activated {
                background-color: #651ec6 !important;
                // color: $theme-color !important;
            }
        }
    }
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
    }
    ion-card-content {
        padding: 15px 30px !important;
        position: relative;
        .ride-detail {
            position: relative;
            margin-bottom: 2rem;
            p {
                font-size: 1.1rem;
                padding-left: 3rem;
                position: relative;
                color: $text-dark;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                &.detail {
                    font-weight: 600;
                }
                .time {
                    width: 80px;
                    display: inline-block;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    display: inline-block;
                    bottom: 0;
                    margin: auto;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 15px;
                background: $text-dark;
                position: absolute;
                left: 4px;
                bottom: 10px;
            }
        }
        .detail-text {
            font-size: 1rem;
            color: $text-light;
            text-transform: none;
            white-space: nowrap;
            h2 {
                color: $theme-color;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 18px;
            }
        }
        .status {
            display: block;
            width: 26px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 8px;
            img {
                width: 100%;
            }
        }
    }
    .fix-btn {
        height: 70px;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        .full.btn {
            width: 100%;
            text-transform: capitalize;
            letter-spacing: 0px;
            font-weight: 400;
        }
    }
    .space {
        display: block;
        position: relative;
        height: 55px;
    }
    .review {
        &.card {
            margin: 0;
            width: 100%;
            border-bottom: 1px solid #dedede;
            border-radius: 0;
            .card-content {
                padding-top: 0 !important;
            }
            .detail {
                p {
                    font-size: 1.1rem;
                    padding-left: 45px;
                }
            }
            ion-avatar {
                min-width: 40px !important;
                min-height: 40px !important;
                img {
                    min-width: 40px !important;
                    min-height: 40px !important;
                }
            }
        }
        .item {
            margin-bottom: 0;
            padding-bottom: 5px !important;
            padding-top: 10px !important;
            ion-avatar {
                position: relative;
            }
            .item-inner {
                border: none !important;
                h2 {
                    margin: 2px 0;
                    font-size: 1.35rem;
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                p {
                    color: $text-dark;
                    font-size: 1.3rem;
                    ion-icon {
                        color: $text-light;
                        font-size: 1.2rem;
                        margin-right: 1px;
                        &.text-yellow {
                            color: $yellow-color;
                        }
                    }
                }
                ion-note {
                    margin-top: -10px;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .rating-box {
        padding-left: 16px;
        padding-right: 16px;
        p {
            font-size: 1.1rem;
        }
        ion-icon {
            color: $yellow-color;
            position: relative;
            top: 1px;
            margin-right: 1rem;
            float: right;
        }
        span.text-1 {
            display: inline-block;
            width: 35px;
        }
        span.text-2 {
            display: inline-block;
            width: 35px;
            text-align: right;
        }
        span.rate-bar {
            width: calc(100% - 77px);
            display: inline-block;
            position: relative;
            height: 8px;
            background: #eee;
            span {
                min-width: 1px;
                display: block;
                height: 8px;
            }
        }
    }
    .about {
        margin-bottom: 5px;
        padding: 10px 20px;
        .heading {
            font-size: 1.25rem;
            font-weight: 500;
        }
        .ride-detail {
            position: relative;
            margin-bottom: 2rem;
            margin-top: 2rem;
            p {
                font-size: 1.25rem;
                padding-left: 3rem;
                position: relative;
                color: $text-light;
                font-weight: 300;
                small {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $text-dark;
                    display: block;
                    margin-bottom: 5px;
                }
                .icon-location {
                    position: absolute;
                    left: 0px;
                    top: 6px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    display: block;
                    bottom: 0;
                }
            }
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 63px;
                background: $text-dark;
                position: absolute;
                left: 4px;
                top: 12px;
            }
        }
        &.info {
            .item {
                padding: 0 !important;
                border-bottom: 0px solid #dedede !important;
                .text-input {
                    font-size: 1.25rem;
                }
                .label {
                    font-size: 1.15rem;
                    color: $text-light;
                }
            }
        }
    }

    ion-title {
        ion-icon {
            margin-left: auto;
            float: right;
            top: 1px;
            position: relative;
        }
    }
    .item {
        border-bottom: 1px solid #dedede;
        margin-bottom: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        ion-avatar {
            position: relative;
            .badge {
                border-radius: 50%;
                height: 18px;
                width: 18px;
                padding: 0;
                line-height: 18px;
                font-weight: 500;
                font-size: .92rem;
                text-align: center;
                position: absolute;
                bottom: -5px;
                right: 0px;
            }
        }
        .item-inner {
            border: none !important;
            h2 {
                margin: 2px 0;
                font-size: 1.35rem;
                font-weight: 600;
                margin-bottom: 4px;
                .text-theme {
                    color: $theme-color;
                }
                ion-icon {
                    margin-left: 3px;
                    color: $theme-color;
                }
            }
            p {
                color: $text-light;
                font-size: 1.3rem;
            }
            ion-note {
                margin-top: -10px;
                font-size: 1rem;
                display: flex;
                align-items: center;
                span {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $theme-color;
                    margin-left: 7px;
                }
            }
        }
    }
    .hidden{
        display:none;
    }
    ion-navbar{
        div{
            background:white!important;
            padding:0px;
        }
    }
    .bottom-btn{
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
}
