<ion-header class="bg-white">
    <ion-navbar>
        <ion-row class="hidden">
           
        </ion-row>
    </ion-navbar>
</ion-header> 
    <ion-content class="bg-white">
        <ion-list>
            <div text-center class="backgroundwhite">
                <h1>Payment is Done!</h1>
            </div>
        </ion-list>
            
        <div class="space">&nbsp;</div>
        <button ion-button class="continue-btn bottom-btn" (click)="continue()">{{"continue" | translate}}</button>
    </ion-content>
    