<ion-header class="transparent">
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <img src="assets/imgs/mapbg.jpg" class="map">
    <img src="assets/imgs/man1.png" class="user u1">
    <img src="assets/imgs/man2.png" class="user u2">
    <img src="assets/imgs/man3.png" class="user u3">
    <span class="dot bg-theme pickup"></span>
    <span class="dot bg-yellow drop"></span>
</ion-content>
