<ion-header class="transparent">
    <ion-navbar>
        <ion-title text-uppercase>{{"verify_me" | translate}}
            <!--           <ion-icon name="md-search" class="text-white" style="margin-left: auto;float: right;"></ion-icon>-->
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-right padding-left>
    <p text-center padding-top margin-top>{{"upload_text" | translate}}</p>
    <h2 text-center>{{"licence" | translate}}</h2>

    <ion-row>
        <ion-col col-4 text-center>
            <img src="assets/imgs/v2.png">
        </ion-col>
        <ion-col col-4 text-center>
            <img src="assets/imgs/v3.png">
        </ion-col>
        <ion-col col-4 text-center>
            <img src="assets/imgs/v4.png">
        </ion-col>
    </ion-row>

    <div text-center class="verifiy">
        <img src="assets/imgs/v1.png">
    </div>
    <p padding-top class="btn-box"><button class="btn text-white bg-theme rounded" style="width: 80%;">{{"upload_btn" | translate}}</button></p>
</ion-content>
