time-when {
    .btn-search {
        background: #eee;
        height: 48px;
        line-height: 34px;
        border-radius: 6px;
    }
    .mt-15 {
        margin-top: 15px;
    }
    .mt-25 {
        margin-top: 25px;
    }
    .mt-250 {
        margin-top: 250px;
    }
    .mr-50 {
        margin-right: 50px;
    }
    .mr-0{
        margin-right: 0px;
    }
    .ml-20 {
        margin-left: 20px;
    }
    .ml-0{
        margin-left: 0px;
    }
    .ml-130 {
        margin-left: 130px;
    }
    .pl-0 {
        padding-left: 0px;
    }
    .d-flex {
        display: flex;
    }
    .space-between {
        justify-content: space-between;
    }
    .radius-15 {
        border-radius: 15px;
    }
    .tp-switch {
        position: absolute;
        top: 25px;
        right: 5px;
    }
    .pos-rel {
        position: relative;
    }
    .input-color {
        background-color: #eee;
    }
    .fs-20 {
        font-size: 20px;
    }
    .fs-50 {
        font-size: 50px;
    }
    .fs-55 {
        font-size: 55px;
    }
    .blue {
        color: blue;
    }
}
