<ion-header class="transparent">
    <ion-navbar>
        
    </ion-navbar>
</ion-header>

<ion-content>
    <div text-center padding>
        <h2>What time will you pick up your passengers?</h2>
    </div>
    <ion-searchbar placeholder="Enter the full address"></ion-searchbar>
    <ion-list>
        <button ion-item (click)="reviews()">
            <ion-avatar item-start>
                <ion-icon name="md-alert"></ion-icon>
            </ion-avatar>
            {{"Use current location" | translate}}
        </button>
    </ion-list>
</ion-content>



