page-password {
    ion-navbar{
        div{
            background:white!important;
            padding:0px;
        }
    }

    ion-header{
        &::after{
            height:0px!important;
        }
    }

    .width-full{
        width:100%;
    }

    .text-blue{
        color:#651ec6;
    }

    .text-wrap{
        flex-wrap: wrap;
        display: flex;
        white-space: normal;
    }
}
