<ion-header>
    <ion-navbar>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        <ion-row>
            <ion-col>
                <ion-item>
                    <p class="text-blue text-wrap">If you forgot your password , it will be sent to anouphimmasy@gmail.com</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="password" class="rounded border-email pl-10" minlength="8" placeholder="Current Password" [(ngModel)]="current"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <p class="text-blue">Choose a unique password that's hard to guess.</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="password" class="rounded border-email pl-10" minlength="8" placeholder="New Password" [(ngModel)]="new"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="password" class="rounded border-email pl-10" minlength="8" placeholder="Confirm new Password" [(ngModel)]="confirm"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button class="continue-btn width-full" (click)="save(current, new, confirm)">{{"Save" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
