<ion-header class="bg-white">
    <ion-navbar>
        <ion-row class="hidden">
            <ion-col col-6>
                <button class="avatar-img" (click)="profile()">
                    <img src="assets/imgs/man3.png">
                </button>
            </ion-col>
            <ion-col col-6 text-right class="logout">
                <ion-icon name="ios-chatbubbles-outline" class="chats-icon" (click)="chats()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>    
    <ion-content class="bg-white">
        <div padding text-center>
            <h1>So how many TaggCar passengers can you take?</h1>
        </div>
            
        <ion-row class="paddingTop50per">
            <ion-col col-4>
                <ion-icon (click)="minus()" name="md-remove" class="circle-icon"></ion-icon>
            </ion-col>
            <ion-col col-4 text-center>
                <span class="h1input">{{numberValue}}</span>
            </ion-col>
            <ion-col col-4>
                <ion-icon (click)="plus()" name="md-add" class="circle-icon"></ion-icon>
            </ion-col>            
        </ion-row>
        <ion-row class="mt-20">
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="continuestep6()">{{"Continue" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-content>
    