<ion-header class="bg-white">
    <ion-navbar class="hidden">
        <ion-row>
            <ion-col col-6>
                <button class="avatar-img" (click)="profile()">
                    <img src="assets/imgs/man3.png">
                </button>
            </ion-col>
            <ion-col col-6 text-right class="logout">
                <ion-icon name="ios-chatbubbles-outline" class="chats-icon" (click)="chats()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>  
<ion-content class="bg-white">
        <ion-list>
            <div text-center class="backgroundwhite">
                <h1>Any thing to add about your ride?</h1>
            </div>
            <div class="driver">
                <div class="form textareaheight50">
                    <ion-list no-lines>
                            <ion-item>
                                <ion-textarea rows="8" cols="20" placeholder="Enter any notes here..." [(ngModel)]="comment"></ion-textarea>
                            </ion-item>
                    </ion-list>
                </div>
                <div padding text-center>
                    <p>
                        <button ion-button full class="bg-theme text-white btn rounded radius_button" (click)="confirm()">{{"Post ride" | translate}}</button>
                    </p>
                </div>  
            </div>
        </ion-list>
</ion-content>