<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <div text-center>
        <h2>You will need a password too.</h2>
    </div>
  
    <ion-list no-lines>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="password" class="rounded border-email pl-10" minlength="8" placeholder="Password (min.8 characters)" [(ngModel)]="password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="continuenumber(password)">{{"continue" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>