page-wallet {
    ion-header {
        p {
            margin-bottom: 0;
        }
        h1 {
            margin-top: 0;
            margin-bottom: 2rem;
            line-height: 1.5;
            font-size: 5rem;
            font-weight: 600;
        }
        .btn {
            width: 100%;
            max-width: 145px;
        }
    }
    .card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 5px;
        ion-item {
            .name {
                width: calc(100% - 90px);
                display: inline-block;
                h2 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    small {
                        margin-left: 5px;
                        color: $text-light;
                    }
                }
            }
            .more {
                width: 80px;
                display: inline-block;
                h2 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: $theme-color;
                }
                p {
                    font-size: 1rem;
                    color: $text-dark;
                    font-weight: 500;
                }
            }
            p {
                font-size: 1rem;
                color: $text-gray;
                font-weight: 400;
            }
        }
    }
}
