<ion-header class="transparent">
    <ion-navbar>
        <ion-title class="text-center" text-uppercase>{{"my_wallet" | translate}}</ion-title>
    </ion-navbar>
    <div text-center padding>
        <p><small class="text-white">{{"total_balance" | translate}}</small></p>
        <h1 class="text-white">$ 120</h1>
        <ion-row>
            <ion-col>
                <button class="btn text-white bg-yellow rounded">{{"add_money" | translate}}</button>
            </ion-col>
            <ion-col>
                <button class="btn text-theme bg-white rounded">{{"send_money" | translate}}</button>
            </ion-col>
        </ion-row>
    </div>

</ion-header>

<ion-content class="bg-light">
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/face-1.jpg">
            </ion-avatar>
            <div class="name">
                <h2>{{"paid_ride" | translate}}
                    <small>19 Feb, 05:15 pm</small>
                </h2>
                <p>Washing sq. Park to East Network</p>
            </div>
            <div class="more" text-right>
                <h2 class="text-theme">+$120
                </h2>
                <p class="text-dark">To Johnson</p>
            </div>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/man3.png">
            </ion-avatar>
            <div class="name">
                <h2>{{"paid_ride" | translate}}
                    <small>19 Feb, 05:15 pm</small>
                </h2>
                <p>Washing sq. Park to East Network</p>
            </div>
            <div class="more" text-right>
                <h2 class="text-theme">+$120
                </h2>
                <p class="text-dark">To Johnson</p>
            </div>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/man1.png">
            </ion-avatar>
            <div class="name">
                <h2>{{"paid_ride" | translate}}
                    <small>19 Feb, 05:15 pm</small>
                </h2>
                <p>Washing sq. Park to East Network</p>
            </div>
            <div class="more" text-right>
                <h2 class="text-theme">+$120
                </h2>
                <p class="text-dark">To Johnson</p>
            </div>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/man2.png">
            </ion-avatar>
            <div class="name">
                <h2>{{"paid_ride" | translate}}
                    <small>19 Feb, 05:15 pm</small>
                </h2>
                <p>Washing sq. Park to East Network</p>
            </div>
            <div class="more" text-right>
                <h2 class="text-theme">+$120
                </h2>
                <p class="text-dark">To Johnson</p>
            </div>
        </ion-item>
    </ion-card>
</ion-content>
