<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <div text-center>
        <h2>Verify your phone number</h2>
    </div>
  
    <ion-list no-lines>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="number" class="rounded border-email pl-10" placeholder="Phone number" [(ngModel)]="number"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
                <button ion-item (click)="continuenumber('no')">
                    <span class="text-color">{{"I'll do it later" | translate}}</span>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="continuenumber(number)">{{"continue" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
    
    
    
    