<ion-header class="bg-white">
    <ion-navbar>
        <ion-title class="text-center">{{"Sign up" | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div text-center>
        <h2>How do you want to sign up?</h2>
    </div>
    <ion-list>
        <ion-row>
            <ion-col>
                <button ion-item class="pr-10">
                    <span class="pl-10 text-color">{{"Continue with Facebook" | translate}}</span>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-item (click)="signup_role()" class="pr-10">
                    <span class="pl-10 text-color">{{"Sign up with my email" | translate}}</span>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="pr-10">
                    <p class="fs-18 pl-10">Already a member?<span class="text-blue" (click)="login()"> Log in</span></p>
                    <p class="pl-10">
                        By continuing you accept our T&Cs and privacy Policy.
                    </p>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
    
    
    
    