<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <div text-center>
        <h2>How would you like to be addressed?</h2>
    </div>
  
    <ion-list class="pr-10">
        <ion-row>
            <ion-col>
                <button ion-item (click)="continueaddress('mrs')">
                    <span class="text-color pl-10">{{"Mrs./Mr." | translate}}</span>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-item (click)="continueaddress('mr')">
                    <span class="text-color pl-10">{{"Mr." | translate}}</span>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-item (click)="continueaddress('no')">
                    <span class="text-color pl-10">{{"I'd rather not say" | translate}}</span>
                </button>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
    
    
    
    