<ion-header class="bg-white">
    <ion-navbar>
        <ion-row class="hidden">
            <ion-col col-6>
                <button class="avatar-img" (click)="profile()">
                    <img src="assets/imgs/man3.png">
                </button>
            </ion-col>
            <ion-col col-6 text-right class="logout">
                <ion-icon name="ios-chatbubbles-outline" class="chats-icon" (click)="chats()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
    
    <ion-content class="bg-white">
        <div padding text-center>
            <h1>What time will you pick up your passengers?</h1>
        </div>
            
       <ion-list>
           <ion-item>
                <ion-label>Time</ion-label>
                <ion-datetime displayFormat="HH:mm" placeholder="Select Time" [(ngModel)]="leavetime"></ion-datetime>
           </ion-item>
       </ion-list>
        <ion-row class="mt-20">
            <ion-col text-center>
                <button ion-button class="continue-btn" (click)="continuestep5()">{{"Continue" | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-content>
    