page-managelanguage {
	h2 {
	  font-size: 1.7rem;
	  font-weight: 500;
	  margin: 0;
	  padding: 26px 30px 23px 30px;
	//   color: $theme-color;
	}
  
	.list {
	  padding-top: 10px;
  
	  .item {
		align-items: flex-start;
		padding: 18px 22px;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
		margin-bottom: 5px;
		min-height: unset;
  
		.item-inner {
		  padding: 0;
		}
  
		.label {
		  white-space: normal;
		  margin: 0;
  
		  h3 {
			font-size: 1.5rem;
			font-weight: 600;
		  }
		}
  
		ion-icon {
		  &[item-end] {
			font-size: 1.95rem;
			// color: $theme-color;
			text-align: end;
			margin: 0;
			min-height: 10px;
		  }
		}
  
		&.add-item {
		  padding: 0;
  
		  h2 {
			padding: 3px 0;
			font-weight: 600;
  
			ion-icon {
			  font-size: 2rem;
			  margin-right: 13px;
			  position: relative;
			  top: 1px;
			}
		  }
		}
	  }
	}
  
	ion-footer {
	  .button.btn {
		margin: 0;
	  }
	}
  
	.empty-view {
	  width: 200px;
	  margin: auto;
	  height: 200px;
	  top: 10%;
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: 10%;
  
	  img {
		width: 100px;
		margin: auto;
	  }
  
	  span {
		display: block;
		text-align: center;
	  }
  
	  button {
		margin-top: 50px;
  
		span {
		  display: unset !important;
		}
	  }
	}
  }
  