<ion-header class="bg-white">
    <ion-navbar>
        <ion-row>
            <ion-col col-6>
                <button class="avatar-img" (click)="profile()">
                    <img [src]="avatarUrl">
                </button>
            </ion-col>
            <ion-col col-6 text-right class="logout">
                <ion-icon name="ios-chatbubbles-outline" class="chats-icon" (click)="chats()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content class="bg-white">
    <ion-list>
        <h1>Where do you want to go?</h1>
        <ion-item no-padding>
            <ion-searchbar #searchText [(ngModel)]="from"  (ionInput)="updateSearch()" (ionCancel)="dismiss()" placeholder="From"></ion-searchbar>

        
            <ion-list class="search-bar">
                <ion-item *ngFor="let item of autocompleteItemsFrom" tappable   (click)="selectFromItem(item)">
                {{ item }}
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item no-padding>
            <ion-searchbar #searchText [(ngModel)]="to"  (ionInput)="updateSearchTo()" (ionCancel)="dismiss()" placeholder = "To"></ion-searchbar>

        
            <ion-list class="search-bar">
                <ion-item *ngFor="let item of autocompleteItemsTo" tappable   (click)="selectToItem(item)">
                {{ item }}
                </ion-item>
            </ion-list>
        </ion-item>
        <a (click)="swap()"><img src="assets/imgs/switch.png" class="pos-abs"></a>
    </ion-list>

    <ion-list>
        <ion-item no-padding>
            <ion-row class="padding-10">
                <ion-col col-7>
                    <a style="display:none" (click)="date()">{{pdate}}</a>
                </ion-col>
                <ion-col col-5>
                    <a (click)="passengers()">{{pcount}} Passengers</a>
                </ion-col>
            </ion-row>            
        </ion-item>
    </ion-list>
    <ion-row class="mt-20">
        <ion-col text-center>
            <button ion-button class="continue-btn" (click)="search()">{{"Search" | translate}}</button>
        </ion-col>
    </ion-row>
</ion-content>
